

@import url("https://fonts.googleapis.com/css?family=Changa:600|Encode+Sans:400,500,700");
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");


label
{
	
	text-transform: uppercase;
}




body {
  margin: 0;
  font-family: $fonter-p;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #ffffff; 

	
}



.btn:focus, .btn.focus
{
	
	box-shadow: none;
	
}








.nav-home
{
	
	z-index: 101;
	    position: relative;
}







.btn-primary
{
	
	color: $white;
	
}

.btn-secondary
{
	
	color: $white;
	
}



h1
{
	
	
	font-family: $fonter-h;
	    text-transform: uppercase;
	    font-size: 2.5em;
	font-weight: 600;
}





/*LEFT SIDEBAR*/

$c1: #0F1726;
$text-color: #fff;
$text-color2: #fff;
$sidebar-width: 230px;

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


.sidebar-menu{
  width: $sidebar-width;
  background-color: $bluish;
  position: fixed;
	height: 100%;
	z-index: 9;
    transition: 0.2s;
    top: 0;
    overflow: auto;
   padding-top: 63px;
		
		

}












.sidebar-menu{
  ul{
    padding:0px;
    margin:0px;
    list-style: none;
	  
    
    li{
      padding:0;
      margin:0;
    }
  }
  
  a{
    margin:0;
    color: $text-color2;
    text-decoration: none;
    padding:10px 15px;
    display:block;
    transition: all ease .1s;    
    position: relative;
    &:hover{
      color: $text-color;
      background-color: $primary;
    }
  }
  
}




.sidebar-menu li 
{
	
	text-transform: capitalize !important;
	
}






/*
.sidebar-menu .sidebar-icon
{
	
	 margin-right: 8px;
}
*/




.sidebar-menu-closed .sidebar-icon{

    text-align: center;
    display: block;

}








.sidebar-menu .searchicon
{
	
	cursor: none;
}


.menu-toggle{
  display: block;
}
.menu-toggle-btn{
    text-align:center;
    vertical-align: bottom;
    float:right;
    width:48px;
    height:38px;
    color: $white;
    cursor:pointer;
  line-height:2.7;
  &:hover{
    background: $primary;
  }
}

.sidebar-search{
  display:block;
  margin-left:15px !important;
  margin-right:15px !important;
  margin-top:15px !important;
  margin-bottom:15px !important;
}

.sidebar-menu .form-control{
  box-shadow: none !important;
 
  outline:none;
	
	display: inline-block !important;

}



.sidebar-menu .input-group
{
	
	width: 95% !important;
	padding-left: 10px;
	
}

.sidebar-search input[placeholder]{
  color:#ccc;
}

.sidebar-submenu{
  display:none;
}

.sidebar-menu-closed{
  width:48px;
  .title{
  position:absolute;
  top:0;
  left:0;
  margin-left: 40px;
  background-color: $c1;
  padding:10px;
  display: none;
  }
  .sidebar-icon{
  
	 
  }
  
  #sidebar-search{
    margin-left:-9px;
    &:focus{
      width:180px;
    }
  }
}










/*LEFT SIDEBAR END*/



.sidebar-menu li.active
{
	
	background-color: $secondary;
	
}



.bg-top-nav
{
	background-color: #F9F9F9 !important;
	
}





.navbar .nav-item
{
	list-style: none;
	
}




.image--cover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  

  object-fit: cover;
  object-position: center right;
}






.my-2 .active a
{
	
	color: $primary !important;
	font-weight: bold;
	text-decoration: underline;
}




.my-2 a
{
	
	color: #000;
}





.nav-link .fa-home
{
	
	color: $bluish;
	text-transform: uppercase;
	
}

.nav-link .fa-cogs {
    color: #2d3c4c;
		text-transform: uppercase;
}


.nav-link
{	text-transform: uppercase;}


.my-2 .btn-outline-success
{
	
	color: $secondary;
    background-color: transparent;
    background-image: none;
    border-color: $secondary;
	
}



.my-2 .btn-outline-success:hover
{
	
	color: #fff;
    background-color: $secondary;
    background-image: none;
    border-color: $secondary;
	
}




#dashboard
{
	
	min-height: 900px;
	margin-left: 50px;
	
}



#timetable_main
{
	
	min-height: 900px;
	margin-left: 50px;
	
}


.custom-margin
{
	
	margin-left: 60px;
	
	
}









/*GO TO TOP*/


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 65px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: $secondary url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  border-radius: 10px;
z-index: 9999999999999999999999;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1; }

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 65px; } }

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 40px;
    width: 40px;
    right: 30px;
    bottom: 65px; } }

/*GO TO TOP END*/







.breadcrumb
{
	background-color: transparent;
}







/*TIMETABLE */





#timetable_main table
{
	
	
	
  border-radius: 10px;
  overflow: hidden;
	text-transform: capitalize;
}



.thead-darker
{
	
	background-color: $bluish;
	color: #fff;
	font-family: $fonter-h;
}







/*TIMETABLE END*/




.btn-brand2
{
	color: #fff;
	background-color: $secondary;
	border-color: $secondary;
}


.btn-brand2:hover
{
	color: #fff;
	background-color: darken( $secondary, 10% );
	border-color: $secondary;
}





#timetable_main .dropdown .btn
{
	
	text-transform: capitalize !important;
	
}



#timetable_main .page-link
{
	
	color: #ffffff;
    background-color: $secondary;
	
}


#timetable_main .card-header
{
	text-transform: capitalize;

}


.form-inline .btn
{
	
	text-transform: uppercase !important;
}












.btn
{
	font-size: inherit;
}







#timetable_main .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle

{
	
	background-color: $secondary;
    border-color: $secondary;
	
}


#timetable_main .card-body .btn
{
	
	margin-bottom: 3px;
}


#timetable_main .card-header
{
	
	padding: 0.20rem 1.25rem;
	
}




.center-items
{
	
	
display: block;
    margin-left: auto;
    margin-right: auto;
 	

   

}






.center-point {
    margin: auto;
    width: 100%;
    padding: 1%;
}




@media (min-width: 320px) and (max-width: 1199px)
	
{

#timetable_main .justify-content-center
{
	
	justify-content: normal;
}


}





#timetable_main td a
{
	
	color: inherit;
}




#timetable_main td .card
{
	
	width: 220px;
	
}





@media (min-width: 320px) and (max-width: 426px)
{
	
	
	
	
	
	#timetable_main td .card
{
	
	width: 100%;
	
}


	#timetable_main .card-body
	{
		
		padding: 0.5rem;
	}
	
	
	
	
	
	
}











#timetable_main td p
{
	
	margin-bottom: inherit;
	
}








#timetable_main .table th, .table td
{
	
	vertical-align: middle;
	
}






/*RIGHT SIDEBAR*/



.right-sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1002;
    top: 0;
    right: 0;
    background-color: $bluish;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	box-shadow: 0px 0px 4px 0px;
}

.right-sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: $white;
    display: block;
    transition: 0.3s;
}

.right-sidenav a:hover {
    color: $primary;
	
}

.right-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    
}

@media screen and (max-height: 450px) {
  .right-sidenav {padding-top: 15px;}
  .right-sidenav a {font-size: 18px;}
}














/*RIGHT SIDEBAR END*/







/*NEW TABLE CSS*/




.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 0;
  padding: 0;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid 1px white;
  background: rgba(112, 128, 144, 0.2);
}
.Rtable-cell > h1,
.Rtable-cell > h2,
.Rtable-cell > h3,
.Rtable-cell > h4,
.Rtable-cell > h5,
.Rtable-cell > h6 {
  margin: 0;
		font-weight: bold;
}


.Rtable-cell a
{
	
	color: #000;
}


.Rtable-cell p
{
	
 	margin-bottom: 1px;
}

.Rtable-cell h3
{
	
	font-size: 1em;
}
/* Table column sizing
================================== */
.Rtable--1cols {
  width: 12.5%;
	float: left;
}




.Rtable--2cols > .Rtable-cell {
  width: 50%;
}
.Rtable--3cols > .Rtable-cell {
  width: 33.33%;
}
.Rtable--4cols > .Rtable-cell {
  width: 25%;
}
.Rtable--5cols > .Rtable-cell {
  width: 20%;
}
.Rtable--6cols > .Rtable-cell {
  width: 16.6%;
}

.Rtable--7cols > .Rtable-cell {
	
	width: 14.28%
}

.Rtable--8cols > .Rtable-cell {
  width: 12.5%;
}


.Rtable--9cols > .Rtable-cell {
  width: 11.11%;
}


.w-first-col
{
	
	width: 10% !important; 
}



.Rtable--cols-custom {
  width: 100%;
}

.Rtable--cols-custom > .Rtable-cell {
  width: 100%;
}


.Rtable_timetable_col
{
	
flex-direction: column;	
	
}




.Rtable {
  position: relative;
  top: 3px;
  left: 3px;
}
.Rtable-cell {
  margin: -3px 0 0 -3px;
  background-color: white;
  border-color: #e2e6e9;
	text-transform: capitalize;
}
/* Cell styles
================================== */
.Rtable-cell--dark {
  background-color: slategrey;
  border-color: #5a6673;
  color: white;
}
.Rtable-cell--dark > h1,
.Rtable-cell--dark > h2,
.Rtable-cell--dark > h3,
.Rtable-cell--dark > h4,
.Rtable-cell--dark > h5,
.Rtable-cell--dark > h6 {
  color: white;

}
.Rtable-cell--medium {
  background-color: #b8c0c8;
  border-color: #a9b3bc;
}
.Rtable-cell--light {
  background-color: white;
  border-color: #e2e6e9;
}
.Rtable-cell--highlight {
  background-color: lightgreen;
  border-color: #64e764;
}
.Rtable-cell--alert {
  background-color: darkorange;
  border-color: #cc7000;
  color: white;
}
.Rtable-cell--alert > h1,
.Rtable-cell--alert > h2,
.Rtable-cell--alert > h3,
.Rtable-cell--alert > h4,
.Rtable-cell--alert > h5,
.Rtable-cell--alert > h6 {
  color: white;
}
.Rtable-cell--head {
  background-color: $bluish;
  border-color: #5a6673;
  color: white;
	text-transform: capitalize;
}
.Rtable-cell--head > h1,
.Rtable-cell--head > h2,
.Rtable-cell--head > h3,
.Rtable-cell--head > h4,
.Rtable-cell--head > h5,
.Rtable-cell--head > h6 {
  color: white;
}
.Rtable-cell--foot {
  background-color: #b8c0c8;
  border-color: #a9b3bc;
}
/* Responsive
==================================== */
@media screen and (max-width: 1199px) {
  .Rtable--collapse {
    display: block;
  }
	
	.table-header-static
	{
		
		display: none;
	}
	
	
	.table-header-monthly
	{
		
    margin: 0 0 0 0;
		
	}

	
	
	
	
	
	.Rtable-head-mobile {
    background-color: #2d3c4c;
    border-color: #5a6673;
    color: white;
    text-transform: capitalize;
}
	
	
	
	
	
  .Rtable--collapse > .Rtable-cell {
    width: 100% !important;
	 
  }
  .Rtable--collapse > .Rtable-cell--foot {
    margin-bottom: 1em;
  }
}




@media screen and (min-width: 1200px){

.table-header-monthly
	{
		
		display: none;
		
	}
	
	
	



}






.no-flexbox .Rtable {
  display: block;
}
.no-flexbox .Rtable > .Rtable-cell {
  width: 100%;
}
.no-flexbox .Rtable > .Rtable-cell--foot {
  margin-bottom: 1em;
}
@media screen and (max-width: 1199px) {
  .hiddenSmall {
    display: none;
  }

}


/* Accordion Styling
==================================== */
.Accordion-timetable {
  position: relative;
  top: -3px;
  left: -3px;
  width: 100%;
  margin: 0 0 0.5em 0;
  padding: 0.6em 0.6em 1em 2em;
  border-radius: 0.5em;
  text-align: left;
  border: solid 3px $bluish;
  background-color: $bluish;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.1s;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .Accordion-timetable {
    display: none;
  }
}
.Accordion-timetable:hover,
.Accordion-timetable:focus {
  outline: none;
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}
.Accordion-timetable[aria-selected="true"] {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0;
  background: $bluish;
}
.Accordion-timetable:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 0.3em;
  margin-top: -1.14285714em;
  font-weight: normal;
  font-size: 2em;
  line-height: 2em;
  background-size: 2em 2em;
}
.Accordion-timetable[aria-selected="true"]:before {
  content: "-";
}
.js-RtableTabs,
.js-RtableAccordions {
  min-width: 240px;
}



.Rtable button
{
	
	text-transform: capitalize;
}



@media screen and (min-width: 1199px) {
.d-none-web
{
	
	display: none;
}
}




@media screen and (max-width: 1199px) {
.d-none-mob
{
	
	display: none;
}
	
	
	.Rtable-cell--head
	{
		
		display: none;
	}
	
	
	
	
	
}















/*NEW TABLE CSS END*/





.custom-card .card
{
	
	  box-shadow: 0 3px 6px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0.15);
}



.custom-card .card p
{
	
	color: #000;
}


.custom-card2 .card
{
	
	  box-shadow: 0 3px 6px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0.15);
	
}


.custom-card2 .redC
{
	
	border-style: solid;
   border-radius: 6px;
	border-right: 6px solid red;
	
}



.custom-card2 .greenC
{
	
	border-style: solid;
   border-radius: 6px;
	border-right: 6px solid $primary;
	
}



.custom-card2 .orangeC
{
	
	border-style: solid;
   border-radius: 6px;
	border-right: 6px solid $secondary;
	
}

.custom-card2 .blackC
{
	
	border-style: solid;
border-radius: 6px;
	border-right: 6px solid #000;
	
}













.custom-card2 .card p
{
	
	color: #000;
}





.custom-card-student-info
{
	
	padding-left: 10px;
	padding-right: 10px;
}



.image--cover-student {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  

  object-fit: cover;
  object-position: center right;
}




#attend_main
{
	
	min-height: 900px;
	margin-left: 50px;
	
}




@media print {
	
	
	 @page {size: A4 portrait; max-height:100%; max-width:100%;  }
	
	


	
	
	
	
	.sidebar-menu {
	
display: none;
	
	}
	
	
.Accordion, .breadcrumb,  {
    display: none;
  }
	
	
	
	body {
		
		
		color: #000; background: white; ;
	}
	
	
	
	a {
		
		text-decoration: none !important;
	}
	
	
	
	#timetable_main
	{
		
		width: auto;
 border: 0;
 
 float: none !important;
		
		
	}
	

	.noPrint
	{
		
		display: none !important;
		
	}
	
	
	
	.table-header-monthly
	{
		
		display: none;
	}
	
	
	

	

}




.custom-green
{
	background-color: #9BC23B;
	border: #9BC23B;
	
}

.custom-green:hover
{
	background-color: #7C9B30;
	border: #7C9B30;
	
}

.custom-green:active
{
	background-color: #7C9B30 !important;
	border: #7C9B30 !important;
	
}


.custom-orange
{
	
	background-color: #fc9019;
	border:#fc9019;
}


.custom-orange:hover
{
	
	background-color: #D97B14;
	border:#D97B14;
}


.custom-orange:active
{
	
	background-color: #D97B14 !important;
	border:#D97B14 !important;
}






.custom-black
{
	background-color: #484848;
	border:#484848;
}

.custom-black:hover
{
	background-color: #636363;
	border:#636363;
}

.custom-black:active
{
	background-color: #484848 !important;
	border:#484848 !important;
}






.custom-red
{
	background-color: #E91328;
	border:#E91328;
}


.custom-red:hover
{
	background-color: #C41123 !important;
	border:#C41123 !important;
}

.custom-red:active
{
	background-color: #C41123 !important;
	border:#C41123 !important;
}




.atten-btn button, .atten-btn label
{
	
	text-transform: uppercase;
}


.atten-btn button
{
	
	margin-bottom: 5px;
}


.onScreenFooter
{
	
	padding-top: 13px;
	
	background-color:#f7f7f7 ;
	height: 60px;
	z-index: 8;
	border-top: solid 1px #c3c3c3;
}



.custom-cancel-btn
{
background-color: gray;
	border: gray;
	text-transform: uppercase;
}

.custom-cancel-btn:hover
{
background-color: #6F6F6F;
	border: #6F6F6F;
	
}





.custom-save-btn
{
	
	background-color: $secondary;
	border: $secondary;
	text-transform: uppercase;
}





@media screen and (max-width: 1199px){

.custom-card2 .col-xl-4
{
	
	margin-bottom: 10px;
}

}



.custom-card-student-info .fas
{
	
	font-size: 1.5em;
	color: $bluish;
}




.selected
{
	
	   background-color: #f7f7f7;
       border-bottom: 4px solid #fc9019;
	   margin-bottom: -5px;

}






#reg-sick
{
	
	min-height: 900px;
	margin-left: 50px;
	
}

#reg-sick .h1
{
	
	text-transform: capitalize;
}


#reg-sick .fa-stethoscope
{
	
	color: $orange;
	
}



#reg-sick .col-xl-5
{
	
	margin-bottom: 2em;
	
}



#reg-sick textarea.form-control {
  height: 200px;
}


.custom-control-label
{
	
	padding-top: 2px;
	text-transform: inherit;
}


#pass
{
	
		min-height: 900px;
	margin-left: 50px;
}


#pass .col-xl-5
{
	
	margin-bottom: 1.3em;
	
}


.custom-fas .fas
{
	
	color: $orange;
}



#it-rule
{
	
		
	margin-left: 50px;
}


#it-rule p
{
	
	
	line-height: 1.5em;
	
}



#info
{
	
	margin-left: 50px;
}





@media (min-width: 320px) and (max-width: 426px)
	
{

h1
{
	
	font-size: 1.75em;
}


}







.center-form .profile-pic {
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.center-form .center-align {
    text-align: center;
}


.center-form .btn-empty {
    background: transparent;
   
    border: 0px solid #607d8b;
   
    clear: both;
}



.profile-icons .fas
{
	font-size: 1.5em;
	color: $bluish;
	border: 1px solid $bluish;
	border-radius: 25px;
	padding: 8px;
	margin-bottom: 6px;
}





.profile-icons a
{
	color: $bluish;
	
}


.profile-icons a:hover
{
	color: $secondary;
	text-decoration: none;
	
}




#sms-sub
{
	
		
	margin-left: 50px;
}


@media (min-width: 320px) and (max-width: 426px)
	
{

#sms-sub h4
{
	
	font-size: 1.1em;
	font-weight: bold;
}
	
	
	
	
	
	
	


}


@media (min-width: 320px) and (max-width: 1300px)
	
{

#sms-sub .fa-pull-right
{
	
	float: none !important;
}
	
	
	
	
	
	
	


}



.sms-custom-label
{
	
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: 600;
	padding-left: 35px;
}

.pl-para
{
	
	padding-left: 35px;
}







#sms-sub .custom-control-label::before
{
	
	top: 0.4rem;
	
   
    
    width: 2.5rem;
    height: 2.5rem;
    
}



#sms-sub .custom-control-label::after
{
	
	top: 0.4rem;
	
  
    width: 2.5rem;
    height: 2.5rem;
  
}

#sms-sub .custom-checkbox .custom-control-label::before {
    border-radius: 3.25rem;
}












.sms-days-selector .custom-select

{
	
	width: 50px;

	padding-left: 5px;
	padding-right: 2px;
}



.text-normal-sms-label
{
	
	text-transform: inherit;
}





#sms-alert
{
	
	margin-left: 50px;
}

#sms-alert textarea.form-control {
    height: 200px;
}




#send-sms
{
	
	margin-left: 50px;
}




.custom-padding-accord 
{
	
	padding: 0.75rem 1.25rem;
}



.accordion h6
{
	
	font-size: 0.9rem;
	
}


#send-sms .table thead th
{
	
	border-bottom: none;
	border-top: none;
}







#send-sms .custom-control-label::before
{
	
	top: -0.2rem;
	
   
  
}



#send-sms .custom-control-label::after
{
	
	top: -0.2rem;
	
  
  
}


.p-custom-all
{
	
	padding: 0;

}


.p-custom-all li
{
	
	
	border-radius: 0px !important;
	text-transform: capitalize;
}





#send-sms .custom-control
{
	
	
	float: right;
}



#send-sms .btn-link
{
	
		color: #000 !important;
	padding-left: 0px;
}



.list-group-item .custom-control-label::before


{
	
	top: -10px !important;
	
}

.list-group-item .custom-control-label::after


{
	
	top: -10px !important;
	
}





.custom-fas-remove .fas
{
	
	font-size: 1.3em;
}




.lock-height .card:nth-child(1)
{
	height: 400px;
	/*max-height: 400px;*/

	
}


.lock-height .accordion .card
{
	
	height: auto;

	
}



.simplebar-content
{
	
	overflow-x: hidden !important;
}




.sms-list-details
{
	
	font-size: 0.7em;
	color: $secondary;
	padding-left: 5px;
	font-style: italic;
}



.delivery-report-container
{
	
	
	width: 22rem ;
}




@media (min-width: 320px) and (max-width: 424px)
{
	
	
.delivery-report-container
{
	
	
	width: 100% ;
}	
	
	
	
	
}




.delivery-report-container h5
{
	
	
	
	text-transform: uppercase;
	font-size: 1em;
}




.delivery-report-container p
{
	
	
	
	font-size: 0.85em;
}



.delivery-report-container a
{
	
	font-size: 0.95em;
}




.custom-msg-send-sms .form-control {
    height: 89px;
}




.custom-msg-send-sms textarea {
  resize: none;
}







.custom-checkbox-compose-sms .custom-control-label::before


{
	
	top: 5px !important;
	
}

.custom-checkbox-compose-sms .custom-control-label::after


{
	
	top: 5px !important;
	
}



.custom-checkbox-compose-sms .input-group-text
{
	
	
	font-size: inherit;
}




@media (min-width: 320px) and (max-width: 424px)
{
	
	
	
	.custom-msg-send-sms .form-control {
    height: 60px;
}

	
	
	
}




@mixin sentence-case() {
  &::first-letter {
    text-transform: uppercase;
  }
}


.success-text
{
	color: $success;
}





.badge-font
{
	
	font-weight: 500;
}




#sms-news .fa-newspaper
{
	color: $orange;
}










#sms-news
{
	
	min-height: 900px;
	margin-left: 50px;
	
}



#sms-news textarea.form-control {
  height: 200px;
}





#app-news
{
	
	min-height: 900px;
	margin-left: 50px;
	
}



#app-news .fa-mobile-alt
{
	color: $orange;
}



.custom-msg-send-sms .form-control {
    height: 89px;
}


#app-news .btn-link {
    color: #000 !important;
    padding-left: 0px;
}




.sidebar-menu .title
{
	
	padding-left: 7px;
}







#students-list{
	
	min-height: 900px;
	margin-left: 50px;
	
}






#teacher-course
{
	
		min-height: 900px;
	margin-left: 50px;
}


.secondary-link
{
 color: $secondary !important;	
	
}


.custom-modal-sms ol
{
	
	
	max-height: 150px;
	overflow: scroll;
	overflow-x: hidden;
}





#school-info
{
	
	min-height: 900px;
	margin-left: 50px;
	
}


#school-info h5
{
	
	font-size: 0.9rem;
	font-weight: 100;
	
}

#school-info #accordion a
{
	
	color: #000 !important;
}


.school-line-height
{
	
	line-height: 35px;
	
}



.image-of-form {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  

  object-fit: cover;
  object-position: center right;
}



#school-info .card-header
{
	
	height: 60px;
}


#school-info #accordion h5
{
	
	line-height: 35px;
}


.col-form-label
{
	
	font-weight: bold;
}


#settings
{
	
	min-height: 900px;
	margin-left: 50px;
	
}

#take-pic
{
	
	min-height: 900px;
	margin-left: 50px;
	
}



#take-pic .js-RtableAccordions
{
	
	min-width: auto !important;
}


#take-pic h5
{
	
	font-size: 1rem;
	color: #000 !important;
}


#take-pic .take-pic-accordion a
{
	
	color: #000;
}




#settings .card-header
{
	
	
	text-transform: uppercase;
	font-weight: 500;
}


#student-pics
{
		min-height: 900px;
	margin-left: 50px;
	
}


#student-pics .fa-times-circle
{
	
	color: $danger;
}


#student-pics .fa-check-circle
{
	
	color: $primary;
}








@media (max-width: 1199px){

.custom-reset-label
{
	
	display: none;
}
	
	
.reset-button-margin
	{
		
		margin-bottom: 15px;
		
	}
	
	
	

}





.custom-padding-exam
{
	
	padding-right: 15px;
	
}






@media (min-width: 1200px){



.custom-padding-exam
{
	
	padding-right: 7px;
	
}



}




.exam-custom-form label
{
	
	font-weight: bold;
}


.sidebar-menu .simplebar-scrollbar:before
{
	
	background: white;
	
}




#absense-stat
{
	
	min-height: 900px;
	margin-left: 50px;
	
}




.accordion-absense .card-body{

border-bottom-color: #dfdfdf;
    border-bottom-style: solid;
    border-bottom-width: thin;

}


.accordion-absense h5
{
	
	font-size: 1rem;


}


.accordion-absense .btn-link
{
	
	color: #000;
		font-weight: 500;
	white-space: pre-line;
}








@media (min-width: 320px) and (max-width: 425px){


.accordion-absense .card-header
{
	
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
}


}



.accordion-absense .fa-sync

{
	
	padding-top: 12px;
}


.accordion-absense .fa-print

{
	
	padding-top: 12px;
}

.accordion-absense a
{
	
	
	color: $dark;
}




/*ON/OFF Toggle CSS*/


.example .btn-toggle {
  top: 50%;
  transform: translateY(-50%);
}
.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle:before {
  content: 'Off';
  left: -4rem;
}
.btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: 0.5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: #29b5a8;
}
.btn-toggle.btn-lg {
  margin: 0 5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}
.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-lg:before {
  content: 'Off';
  left: -5rem;
}
.btn-toggle.btn-lg:after {
  content: 'On';
  right: -5rem;
  opacity: 0.5;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.6875rem;
  width: 3.875rem;
}
.btn-toggle.btn-lg.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none;
}
.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-sm:before {
  content: 'Off';
  left: -0.5rem;
}
.btn-toggle.btn-sm:after {
  content: 'On';
  right: -0.5rem;
  opacity: 0.5;
}
.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none;
}
.btn-toggle.btn-xs {
  margin: 0 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem;
}
.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem;
  width: 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-xs:before {
  content: 'Off';
  left: 0;
}
.btn-toggle.btn-xs:after {
  content: 'On';
  right: 0;
  opacity: 0.5;
}
.btn-toggle.btn-xs > .handle {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-xs.active > .handle {
  left: 1.125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-xs.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.275rem;
  width: 1.55rem;
}
.btn-toggle.btn-xs.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none;
}
.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}
.btn-toggle.btn-secondary.active {
  background-color: #ff8300;
}



/*ON/OFF Toggle CSS END*/













#absense-stat .nav-item .active
{
	
	
	color: #ffffff !important;
   
    background-color: $secondary;
    border-radius: 5px;
	
	
}



#absense-stat .bg-light
{
	
	border-bottom-color: #dfdfdf;
    border-bottom-style: solid;
    border-bottom-width: thin;

	
}


#absense-stat .navbar .nav-link
{
	
	
	color: $dark;
}



.custom-absense-dropdown .dropdown:hover>.dropdown-menu {
  display: block;
}

.custom-absense-dropdown .dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}


.custom-absense-dropdown .blockquote-footer
{
	
	
	color: #fff;
}







 .accordion-absense .js-RtableAccordions
{
	
	
	min-width: auto !important;
}






.fa-sort, .fa-sort-up, .fa-sort-down
{
	
	color: #fff;
}





.print-custom .fa-print, .fa-desktop
{
	
	padding-top: 2px;
	
}







.dropdown-item:hover, .dropdown-item:focus
{
	
	background-color: $primary;
	color: #fff;
}





.absense-nav .navbar 
{
	
	text-align: center;
	
}



.absense-nav .navbar-toggler{
	
	margin-bottom: 10px;
}


.absense-nav a { 

text-transform: capitalize !important;

}





@media (min-width: 992px){
.custom-modal-absense .modal-lg {
    max-width: 1000px;
}

}





#dashboard-status
{
	
	min-height: 900px;
	margin-left: 50px;
	
}



.dashboard-status-custom .fas, 
.dashboard-status-custom .far
{
	
	
	font-size: 2.5rem;
	margin-bottom: 10px;
	color: $bluish;
}




@media (min-width: 320px) and (max-width: 991px)
	
{

.dashboard-status-custom .col-lg-2
{
	
	margin-bottom: 35px;
}

}


.stats-custom-ums .fa-check
{
	
	color: $success;
	
}




.stats-custom-ums .fa-times
{
	
	color: $danger;
	
}












#ums-login
{
	
	min-height: 900px;
	margin-left: 50px;
	
}






.ums-nav .navbar 
{
	
	text-align: center;
	
}



.ums-nav .navbar-toggler{
	
	margin-bottom: 10px;
}


.ums-nav a { 

text-transform: capitalize !important;

}





#ums-login .nav-item .active {
    color: #ffffff !important;
    background-color: #FC9019;
    border-radius: 5px;
}



#ums-login .navbar .nav-link {
    color: #343a40;
}










#log-filer
{
	
	min-height: 900px;
	margin-left: 50px;
	
}








#gdpr label
{
	
	text-transform: uppercase;
}


.gdpr-first-custom 
{
	
	min-height: 500px;
}


.gdpr-first-custom .fa-times-circle
{
	
	font-size: 1.3rem;
	padding-top: 8px;
	color: $danger;
}




.gdpr-margin-bottom
{
	
	margin-bottom: 100px;
}



.gdpr-font-normal
{
	
	text-transform: none !important;
}



.gdpr-custom-btn
{
	
	font-size: .8rem;
}



#gdpr-student-list
{
	
	min-height: 900px;
	margin-left: 50px;
}




.simplebar-scroll-content {
	
	
	margin-bottom: 0px !important;
}





#dashboard-creator {
	
		
	margin-left: 48px;
	
	
}



/*
.custom-add-btn-gdpr .modal-body
{
	
	min-height: 500px;
	
}
*/


/*SIDEBAR Dashboard Creator*/








.sidebarR {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #3f4f61;
  position: fixed;
  height: 100%;
  overflow: auto;
  right:0;
  margin-top: -65px;
    padding-top: 65px;	
}


.sidebarR a {
  display: block;
  color: #fff;
  padding: 16px;
  text-decoration: none;
	text-align: center;
}

.sidebarR p
{
	
	text-align: center;
}





 
.sidebarR a.active {
  background-color: $secondary;
  color: white;
}

.sidebarR a:hover:not(.active) {
  background-color: $secondary;
  color: white;
}

.contentR {
  margin-right: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 500px) {
  .sidebarR {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebarR a {float: left;  text-align: center;
    float: none;}
  .contentR {margin-left: 0;}
}


.sidebarR label
{
	
	text-align: center;
	 display: block;
	font-size: 1.2rem;
	margin-top: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	background-image: url("../img/footer_lodyas.png");
	text-transform: uppercase;
	
}



.dashboard-creator-custom .card
{
	
	min-height: 620px;
}




.dashboard-creator-custom label
{
	
	text-transform: uppercase;
	font-size: 1.1rem;
}









#welcome-student .card
{
	min-height: 600px;
	
}






/*STEPS STUDENT WELCOME*/



.step {
  list-style: none;

  width: 100%;
}

.step .step-item {
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  margin-top: 0;
  min-height: 1rem;
  position: relative; 
  text-align: center;
}

.step .step-item:not(:first-child)::before {
  background: $secondary;
  content: "";
  height: 2px;
  left: -50%;
  position: absolute;
  top: 9px;
  width: 100%;
}

.step .step-item a {
  color: #acb3c2;
  display: inline-block;
  padding: 20px 10px 0;
  text-decoration: none;
}

.step .step-item a::before {
  background: $secondary;
  border: .1rem solid #fff;
  border-radius: 50%;
  content: "";
  display: block;
  height: .9rem;
  left: 50%;
  position: absolute;
  top: .2rem;
  transform: translateX(-50%);
  width: .9rem;
  z-index: 1;
}

.step .step-item.active a::before {
  background: #fff;
  border: .1rem solid $secondary;
}

.step .step-item.active ~ .step-item::before {
  background: #e7e9ed;
}

.step .step-item.active ~ .step-item a::before {
  background: #e7e9ed;
}



/*STEPS STUDENT WELCOME*/


.welcome-student-btn button
{
	
	border-radius: 50px;
	width: 100px;
	height: 100px;
	
}







.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 1rem;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}





.welcome-student-btn .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle, .btn-outline-secondary:hover
{
	
	color: #fff ;
}




#welcome-student .m_margin
{
	
	margin-top: 51px;
	
}





.welcome-stu-custom-input .form-group
{
	
	margin-bottom: 35px;
}





#welcome-student .fa-check
{
	
	color: $success;
	font-size: 2rem;
	
}




#student-index .card-header
{
	text-transform: uppercase;
	    font-weight: 500;
}



#student-loans .fa-hand-holding-usd
{
	
	color: $secondary;
}




.fas-1x
{
	
	font-size: 1.3rem;
	padding-top: 4px;
	
}




#student-grades .fa-print
{
	
	color: $bluish !important;
}



#student-grades .fa-graduation-cap
{
	
	color: $secondary;
}







#gdpr-student-list .take-pic-accordions a
{
	
	color: #000;
	font-size: 1.1rem;
}


.custom-template-name
{
	
	font-size: .95rem;
}











#printer .custom-control-label::before
{
	
	top: -0.2rem;
	
   
  
}



#printer .custom-control-label::after
{
	
	top: -0.2rem;
	
  
  
}




#printer .custom-control
{
	
	
	float: right;
}



#printer
{
	
	margin-left: 50px;
}




.print-template-height
{
	
	height: 250px !important;
}



.card-custom
{
	
border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
height: 200px;
	
}






.print-template-height .card:nth-child(1)
{
	
	height: inherit;
}




@media (min-width: 320px) and (max-width: 1199px)
{
	
	.custom-card-template
	{
		
		height: auto !important;
		
	}
	
	.print-template-height
	{
		
		margin-bottom: 15px;
		
	}
	
	
}


#exam-handle
{
	
	margin-left: 50px;
}












.exam-handler-custom-checkbox .custom-control-label::before
{
	
	top: -0.2rem;
	
   
  
}



.exam-handler-custom-checkbox .custom-control-label::after
{
	
	top: -0.2rem;
	
  
  
}




.exam-handler-custom-checkbox .custom-control
{
	
	
	float: right;
}









.vue-notification {


  &.warn {
    background: #fc9019;
    border-left-color: #e4841b;
  }

  &.error {
    background: $danger;
    border-left-color: #B82E24;
  }

  &.success {
    background: $success;
    border-left-color: #81a22d;
  }
}


.notifications
{
	
	 top: 22px !important;
    right: 22px !important;
}























