{%- macro active(activePage='home') -%}
<link href="assets/css/style.css" rel="stylesheet" type="text/css">
<link href="assets/css/overlayScrollbars.min.css" rel="stylesheet" type="text/css">
<link href="assets/css/quill.snow.css" rel="stylesheet" type="text/css">
<link href="assets/css/bootstrap-select.css" rel="stylesheet" type="text/css">
<script src="https://kit.fontawesome.com/5e9d6fd47c.js"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary text-white">
  <a class="navbar-brand" href="#">Inlogic Teams</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="assignments-landing.html">Assignments</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="student-feedback-view.html">Student Feedback</a>
      </li>
    <li class="nav-item">
        <a class="nav-link" href="student-landing.html">Student Dashboard</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="student-list.html">Student Control Panel</a>
      </li>
    </ul>
 
  </div>
</nav>


{% endmacro %}