{% import "../templates/macros/navigation.html" as nav %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Ordrer - Manual Orders - Jini</title>
<link rel="stylesheet" type="text/css" href="assets/css/vendor/kendo-nova-all.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<link rel="icon" type="image/png" href="assets/img/favicon.png" />
</head>

<body>
{% block content %}
{{nav.active('home')}}
{{nav.leftsidebar('home')}}
{% endblock %}
<div class="container mt-1 mb-0">
  <div class="content center-item">
    <h4 class="search-title"><strong>Enter Order Number</strong></h4>
    <form class="prod-search-box jini-input-group">
      <input class="k-textbox" type="text" />
      <button class="k-button k-primary">Search</button>
    </form>
  </div>
</div>
<div class="container-fluid mb-1">
  <div class="block-level-actions pos-static mb-1">
    <button class="jini-btn" style="display: block; margin-left: auto "><span class="k-icon k-i-xls mr-less"></span>Export to Excel</button>
	<button class="jini-btn" style="display: block; "><span class="k-icon k-i-error mr-less"></span>Show Errors</button>
    <button class="jini-btn" style="display: block; "><span class="k-icon k-i-filter-clear mr-less"></span>Clear Filters</button>
  </div>
  <script src="https://demos.telerik.com/kendo-ui/content/shared/js/people.js"></script>
  <div id="grid"></div>
</div>
{% include "../templates/partials/footer.html" %}
</body>
</html>