{% import "../templates/macros/navigation.html" as nav %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Ordrer - Manual Orders - Jini</title>
<link rel="stylesheet" type="text/css" href="assets/css/vendor/kendo-nova-all.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<link rel="icon" type="image/png" href="assets/img/favicon.png" />
</head>
<body>
{% block content %}
{{nav.active('home')}}
{{nav.leftsidebar('home')}}
{% endblock %}
<div class="mo-full-overlay"> 
  <!-- loader -->
  <div class="jini-loader">
    <div class="bars">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p>Loading whatever</p>
  </div>
  <!-- end loader --> 
</div>
<p class="jini-msg error visible"><span class="noti-error k-icon k-i-close-circle mr-1"></span> Ups&hellip; du mangler at udfylde noget her!</p>
<p class="jini-msg success visible"><span class="noti-success k-icon k-i-check-circle mr-1"></span> Ups&hellip; du mangler at udfylde noget her!</p>
<div id="menu-bar-top">
  <ul class="menu-items-ul">
    <li><a href="#">Copy Order</a></li>
    <li><a href="#"><span class="k-icon k-i-cancel"></span>Cancel Order</a></li>
    <li><a href="#"><span class="k-icon k-i-windows"></span>Copy & Cancel Order</a></li>
	<li><a href="#"><span class="k-icon k-i-cart"></span>View Customer Orders List</a></li>  
  </ul>
</div>
<div class="process-error">
  <div class="process-error-txt">Processing Error occured. Please contact support!</div>
</div>
<div class="container mt-2 mb-1">
  <header>
    <div class="order-header">
      <div class="order-num-div">
        <h1>Ordre# <span class="mr-1">22626565644</span> <span class="prod-type">Forfatterkøb</span></h1>
        <p><span><strong>Order Source: </strong><span>GUA Migration</span></span><br>
          <strong>Date:</strong> 05-12-2018,  12:10 <br>
        </p>
      </div>
      <div class="block-level-actions"> <a href="index.html" class="jini-btn">← Back</a> </div>
    </div>
  </header>
</div>
<div class="container mt-0">
  <ul class="list-unstyled multi-steps">
    <!-- <li>Order Confirmed</li>-->
    <li>Order Confirmed</li>
    <li>Order Processed</li>
    <!-- <li class="is-active">Shipped</li>-->
    <li>Shipped</li>
    <!-- <li class="error-active"><a class="tooltips" href="#"><span class="undo"><div class="tooltip-content"><strong class="text-uppercase">Credit card issue. Click for more details</strong> </div></span></a></li>-->
    <li class="error-active"><a class="tooltips-cancel" href="#"><span class="undo">
      <div class="tooltip-content"><strong class="text-uppercase">Order Cancelled</strong><!--<br>
      Click for more details--></div>
      </span></a></li>
    <li>Sent to Distributor</li>
    <li>Order Completed</li>
  </ul>
</div>
<div class="container mb-0">
  <div class="content">
    <section class="block">
      <h1>Sub-orders Details</h1>
      <div class="block-level-actions"> <a href="#" class="jini-btn undo2">Back orders</a> </div>
      <table class="jini-table mo-prod-basket2">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price (excluding VAT)</th>
            <th>Number</th>
            <th>Status</th>
            <th>Discount</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody class="mo-prod-basket2">
          <tr>
            <td>english.gyldendal.dk <span>Fagportalen for English 7-10 class</span></td>
            <td>DKK 100.00 <span>(incl. VAT) SEK 125.00.</span></td>
            <td>27</td>
            <td>Shipped</td>
            <td>5%</td>
            <td>DKK 100.00 <span>(incl. VAT) SEK 125.00.</span></td>
          </tr>
          <tr>
            <td>Blue Cat Returns - English for the 5th <span>Story book</span></td>
            <td>DKK 205.00 <span>(incl. VAT) SEK 300.00.</span></td>
            <td>20</td>
            <td>Pending</td>
            <td>20%</td>
            <td>SEK 1,200.00 <br>
              <span>(incl. VAT) SEK 1,500.00.</span></td>
          </tr>
          <tr>
            <td>Blue Cat Returns - English for the 5th <span>Story book</span></td>
            <td>DKK 205.00 <span>(incl. VAT) SEK 300.00.</span></td>
            <td>7</td>
            <td>Pending</td>
            <td>15%</td>
            <td>SEK 1,200.00 <br>
              <span>(incl. VAT) SEK 1,500.00.</span></td>
          </tr>
        </tbody>
      </table>
      <table class="jini-table mo-order-totals">
        <tbody class="mo-prod-basket2">
          <tr>
            <td>Booking fee</td>
            <td>0.00 kr.</td>
          </tr>
          <tr>
            <td>Total price</td>
            <td>13,096.00 kr.</td>
          </tr>
          <tr>
            <td>VAT</td>
            <td>3.274.00 kr.</td>
          </tr>
          <tr>
            <td>Discount</td>
            <td>3.274.00 kr.</td>
          </tr>
          <tr>
            <td>To pay</td>
            <td>13,096.00 kr.</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
  <div class="sidebar-right">
    <div class="content-sidebar">
      <h1><span class="k-icon k-i-information mr-1"></span><strong>AX Status</strong></h1>
      <hr>
      <div class="container mb-0 mt-0">
        <p><strong>AX Sent</strong> <br>
          05-12-2018  12:10 </p>
      </div>
    </div>
    <div class="content-sidebar">
      <h1><span class="k-icon k-i-cart mr-1"></span><strong>DIBS Status</strong></h1>
      <hr>
      <div class="container mb-0 mt-0">
        <p><strong>Capture fejlet</strong> <br>
          05-12-2018  12:10 </p>
        <div class="block-level-actions"> <a href="#" class="jini-btn">Fix Issues</a> </div>
      </div>
      <div class="container mb-0 mt-0">
        <p><strong>Reservation gennemført</strong> <br>
          05-12-2018  10:10 </p>
      </div>
    </div>
    <div class="content-sidebar">
      <h1><span class="k-icon k-i-user mr-1"></span><strong>Order Created by</strong></h1>
      <hr>
      <div class="container mb-0 mt-0">
        <p><span><strong>John Smith</strong></span> </p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-0">
  <div class="container-fluid pl-0 pr-0">
    <section class="block  pt-0">
      <div class="mo-order-summary-info">
        <div class="mo-order-summary-item">
          <h2>Fakturadresse</h2>
          <p> Herlev Kommune <br>
            Herlev bygade 90 <br>
            2730 Herlev <br>
            Danmark <br>
            Ref.: Anne Kragelund </p>
        </div>
        <div class="mo-order-summary-item">
          <h2>Leveringsadresse</h2>
          <p> Kildegårdsskolen Øst <br>
            Krogestykket 33 <br>
            2730 Herlev <br>
            Danmark <br>
            Ref.: Anne Kragelund </p>
        </div>
        <div class="mo-order-summary-item">
          <h2>Betaling og levering</h2>
          <p> Leveres: indenfor 3-4 arbejdsdage <br>
            Betalingsform: Elektronisk faktura <br>
            EAN: 5798008769160 <br>
            Rekvisitionsnr.: 123 <br>
            Ref.: Anne Kragelund <br>
            Betalingsfrist: 30 dage </p>
        </div>
        <div class="mo-order-summary-item">
          <h2>Anden info</h2>
          <p> Ordrenummer: 101 <br>
            Bestillingsdato: 30-05-201 <br>
            E-mail: ankra@kildegård.dk <br>
            Telefon: + 45 26 49 55 64 <br>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
{% include "../templates/partials/footer.html" %}
<div id="error-popup">
  <div id="window">
    <h1><strong>Order Number: <span>22626565644</span></strong></h1>
    <h2><strong>Date: <span>01-01-2019</span></strong></h2>
    <br>
    <div class="popup-error-container">
      <div class="error-parent-panel-header">
        <div class="error-type-panel-header">
          <h3>Error Type</h3>
        </div>
        <div class="error-sol-panel-parent-header">
          <div class="error-only-panel-header">
            <h3>Error</h3>
          </div>
          <div class="error-solution-panel-header">
            <h3>Possible Solutions</h3>
          </div>
        </div>
      </div>
      <div class="error-parent-panel">
        <div class="error-type-panel"><span class="red-alert k-icon k-i-minus-circle"></span>Data error</div>
        <div class="error-sol-panel-parent">
          <div class="error-only-panel">
            <p>Name field is excedding 30 characters Name field is excedding 30 characters Name field is excedding 30 characters Name field is excedding 30 characters</p>
          </div>
          <div class="error-solution-panel">
            <p>Check Name fields characters</p>
          </div>
        </div>
      </div>
      <div class="error-parent-panel">
        <div class="error-type-panel"></div>
        <div class="error-sol-panel-parent">
          <div class="error-only-panel">
            <p>Name field is excedding 30 characters</p>
            <p>Name field is excedding 30 characters1</p>
          </div>
          <div class="error-solution-panel">
            <p>Check Name fields characters</p>
            <p>Check Name fields characters1</p>
            <p>
            <div class="block-level-actions position-inherit">
              <button class="jini-btn" style="display: block;">Open Form</button>
            </div>
            </p>
          </div>
        </div>
      </div>
      <hr class="custom-hr">
      <div class="error-parent-panel">
        <div class="error-type-panel"><span class="red-alert k-icon k-i-minus-circle"></span>CRM error</div>
        <div class="error-sol-panel-parent">
          <div class="error-only-panel">
            <p>Name field is excedding 30 characters Name field is excedding 30 characters Name field is excedding 30 characters Name field is excedding 30 characters</p>
          </div>
          <div class="error-solution-panel">
            <p>Check Name fields characters. Check Name fields characters. Check Name fields characters. Check Name fields characters. This is sample solutions</p>
          </div>
        </div>
      </div>
      <hr class="custom-hr">
    </div>
    <div class="footer-popup-oa">
      <div class="block-level-actions"> <a href="order-1.html" class="jini-btn"> Close</a> </div>
    </div>
  </div>
</div>
<div id="back-order-error-popup">
  <div id="window2">
    <h1><strong>Order Number: <span>22632423dsfsdf4</span></strong></h1>
    <h2><strong>Date: <span>01-01-2019</span></strong></h2>
    <br>
    <div class="popup-error-container">
      <table class="jini-table mo-customers-table back-order-tb">
        <thead>
          <tr>
            <th>ISBN</th>
            <th>Shippment date</th>
            <th>Shippment quantity</th>
            <th>Back order date</th>
            <th>Back order quantity</th>
            <th>Reason</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>156516589845625</td>
            <td>24-02-2018</td>
            <td>500</td>
            <td>19-02-2018</td>
            <td>50</td>
            <td>Publisher stock has ended. Re-stock will be after 2 weeks.</td>
          </tr>
          <tr>
            <td>156516589845625</td>
            <td>24-02-2018</td>
            <td>50</td>
            <td>19-02-2018</td>
            <td>30</td>
            <td>Publisher stock has ended. Re-stock will be after 2 weeks.</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer-popup-oa">
      <div class="block-level-actions"> <a href="order-1.html" class="jini-btn"> Close</a> </div>
    </div>
  </div>
</div>
</body>
</html>
