@charset "UTF-8";

.mo-prod-basket2 {
    @include font-size(14, 14 * 1.5, true);
    margin-top: px2rem($main-line-ht-px * 2);
    
    & + .mo-prod-basket2 {
        margin-top: px2rem($main-line-ht-px);
    }
    
    .k-textbox {
        width: 100%;
        text-align: right;
    }
    
    .prod-count {
        //width: 90%;
    }
    
    .help-text {
        margin-bottom: 0;
        
        &.flagged {
            color: $color-icon-red;
            opacity: 0.9;
        }
        
    }
    
    th, td {
        
        padding: 5px 8px;
        vertical-align: middle;
        
        &:nth-child(1) {
            width: 29%;
        }
        
        &:nth-child(2)
		
		{
            width: 20%;
            text-align: right;
            
            span {
                color: $color-text-light;
                display: block;
                @include font-size(13, 13 * 1.5, true);
            }
        }
		
		
		
		
        &:nth-child(6) {
            width: 20%;
            text-align: right;
			font-weight: 700;
            
            span {
                color: $color-text-light;
                display: block;
                @include font-size(13, 13 * 1.5, true);
            }
        }
        
        
        &:nth-child(3) {
            width: 10%;
            text-align: center;
        }
        
        &:nth-child(5) {
            width: 10%;
			 text-align: center;
        }
        
        &:nth-child(4) {
            width: 8%;
			 text-align: center;
            //text-align: right;
        }
        
        
        
        &:nth-child(7) {
            width: 18%;
            text-align: center;
            font-weight: $font-bold;
            @include font-size(14, true);
            cursor: pointer;
        }
    }
    
    td {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(6) {
            span {
                color: $color-text-light;
                display: block;
                @include font-size(13, 13 * 1.5, true);
            }
        }
        
        &:nth-child(1) {
            font-weight: $font-medium;
        }
        
        .k-numerictextbox {
            width: 100%;
        }
		
		//&:not(:nth-child(3)) {
		//	padding-top: 22px;
		//}
    }

	.control-suffix {
		margin-bottom: 0;
	}	
}

.mo-prod-basket-empty-msg {
	text-align: center;
	font-weight: $font-light;
	font-size: 1.3em;
	padding: 1em 0;
	margin-bottom: 0;
	//border-bottom: 1px solid $color-border;
}

.mo-prod-basket-summary {
    border-top: 4px double $color-border-dark;

    td {
        padding: 20px 7px;
        font-weight: $font-bold;
    }
	
}

.global-concession {
    position: relative;
    @include font-size(13, 13 * 1.5, true);
    display: flex;
    align-items: flex-end;
    margin-top: px2rem($main-line-ht-px * 2);
    // padding-bottom: px2rem($main-line-ht-px * 2);
    // border-bottom: 2px solid  $color-border;
    
    .mo-form-group {
        width: 30%;
        margin-bottom: 0;
        
        label {
            font-weight: $font-medium;
        }
        
        &:first-of-type {
            margin-right: 2em;
        }
    }
    
    span {
        margin-right: 2em;
    }
    
    .block-level-actions {
        position: static;
        margin-left: auto;
    }
}

.mo-order-info {
    display: flex;
    justify-content: space-between;
    @include font-size(13, 13 * 1.5, true);
    //border-top: 2px solid $color-border;
}

.mo-order-info-col {
    width: 48%;
    
	.block {
		padding: px2rem($main-line-ht-px * 1.25) 0;
		
		h1 {
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;
			
			img {
				transition: transform 0.4s linear;
			}
		}
		
		&.collapsed {
			h1 {
				margin-bottom: 0;
				transition: margin-bottom 0.4s linear;
			}
			
			.mo-order-info-panel {
				display: none;
			}
		}
		
		&:not(.collapsed) {
			h1 img {
				transform: rotateZ(180deg);
			}
		}
	}
    
	textarea {
        width: 100%;
    }
}

.mo-form-group-row {
    display: flex;
    justify-content: space-between;
    
    .mo-form-group {
        width: 49%;
    }
    
    &.one-third {
        .mo-form-group:first-child {
            width: 32%;
        }
        
        .mo-form-group:last-child {
            width: 66%;
        }
    }
}

.mo-form-group {
    margin-bottom: px2rem($main-line-ht-px);
    position: relative;
    
    input {
        &[type="text"] {
            width: 100%;
        }
        
        &[disabled] {
            background-color: $color-bg-btn-hover;
        }
    }
	
	input, textarea {
		&.error {
			border-color: $color-orange;
		}
	}
    
    label {
        display: block;
        font-weight: $font-normal;
        //@include font-size(13.5, 14, false);
        @include all-smcp();
        margin-bottom: px2rem($main-line-ht-px / 4);
    }
    
    &:last-child {
        margin-bottom: 0;
    }
    
    .mo-form-group-misc {
        position: absolute;
        right: 0;
        top: 0;
    }
}

label + .mo-form-group,
label + .mo-form-group-row,
label + .k-datepicker {
    margin-top: px2rem($main-line-ht-px);
}

#show-another-customer-popup {
    cursor: pointer;
}

.sidebar-actions {
    .jini-btn {
        width: 75%;
        display: block;
        margin: px2rem($main-line-ht-px * 0.75) auto;
		padding-top: px2rem(7);
		padding-bottom: px2rem(7);
        @include font-size(15, 15 * 1.5, true);
        
        & + button {
            margin-top: -0.75em;
        }
        
    }
}




.mo-prod-basket {
    @include font-size(14, 14 * 1.5, true);
    margin-top: px2rem($main-line-ht-px * 2);
    
    & + .mo-prod-basket {
        margin-top: px2rem($main-line-ht-px);
    }
    
    .k-textbox {
        width: 100%;
        text-align: right;
    }
    
    .prod-count {
        //width: 90%;
    }
    
    .help-text {
        margin-bottom: 0;
        
        &.flagged {
            color: $color-icon-red;
            opacity: 0.9;
        }
        
    }
    
    th, td {
        
        padding: 14px 8px;
        vertical-align: middle;
        
        &:nth-child(1) {
            width: 29%;
        }
        
        &:nth-child(2),
        &:nth-child(6) {
            width: 20%;
            text-align: right;
            
            span {
                color: $color-text-light;
                display: block;
                @include font-size(13, 13 * 1.5, true);
            }
        }
        
        
        &:nth-child(3) {
            width: 10%;
            text-align: right;
        }
        
        &:nth-child(5) {
            width: 10%;
        }
        
        &:nth-child(4) {
            width: 8%;
            //text-align: right;
        }
        
        
        
        &:nth-child(7) {
            width: 3%;
            text-align: center;
            font-weight: $font-bold;
            @include font-size(24, 24, true);
            cursor: pointer;
        }
    }
    
    td {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(6) {
            span {
                color: $color-text-light;
                display: block;
                @include font-size(13, 13 * 1.5, true);
            }
        }
        
        &:nth-child(1) {
            font-weight: $font-medium;
        }
        
        .k-numerictextbox {
            width: 100%;
        }
		
		//&:not(:nth-child(3)) {
		//	padding-top: 22px;
		//}
    }

	.control-suffix {
		margin-bottom: 0;
	}	
}






















