@charset "UTF-8";


h5
{
	
	font-size: 0.85em;
}

.mb-0
{
	
	margin-bottom: 0px !important;
}

.mb-1
{
	
	margin-bottom: 15px !important;
}

.mt-0
{
	
	margin-top: 0px !important;
}

.mt-1
{
	
	margin-top: 15px !important;
}

.mt-2
{
	
	margin-top: 25px !important;
}

.mt-5
{
	
	margin-top: 50px !important;
}

.mt-6
{
	
	margin-top: 100px !important;
}

.mb-5
{
	
	margin-bottom: 70px !important;
}


.ml-1
{
	margin-left: 15px !important;
}

.ml-2
{
	margin-left: 30px !important;
}



.w-500
{
	
	font-weight: 500 !important;
}







.mr-less
{
	
	margin-right: 5px !important;
}


.mr-1
{
	margin-right: 10px !important;
}


.mr-2
{
	margin-right: 20px !important;
}

.pt-0
{
	
	padding-top: 0px !important;
}
.pt-1
{
	
	padding-top: 5px !important;
}


.pt-3
{
	
	padding-top: 15px !important;
}


.fl-right
{
	
	float: right !important;
}


.pr-0
{
	
	padding-right: 0px !important;
}



.pl-0
{
	
	padding-left: 0px !important;
}

.pl-1
{
	
	
	padding-left: 15px !important;
}

.pl-2
{
	
	padding-left: 25px !important;
}


.pb-0
{
	
	padding-bottom: 0px !important;
}




.text-uppercase
{
	
	text-transform: uppercase;
}



.pos-static
{
	
	position: static !important;
}



 .demo-section p {
                    margin: 0 0 30px;
                    line-height: 50px;
                }
                .demo-section p .k-button {
                    margin: 0 10px 0 0;
                }
                .k-primary {
                    min-width: 150px;
                }








.footer-content
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
	
	
}




 .box .k-textbox {
                    width: 80px;
                }
                .box .k-button {
                    min-width: 80px;
                }




.center-item {
  margin: auto;
  
 
  padding: 10px;
}


.search-title
{
	
	
	    width: 75%;
    margin: 0 auto .56rem;
}





/*order steps old start*/





ol.progtrckr {
   /* margin: 0;*/
    padding: 0;
    list-style-type: none;
}



.progtrckr-error
{
	
	width: 5% !important;
	
}




ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
	font-size: 0.85rem;
}

ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; }
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 18.48%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 10%; }

ol.progtrckr li.progtrckr-done {
    color: black;
    border-top: 2px dashed yellowgreen;
}

ol.progtrckr li.progtrckr-error {
    color: red;
    border-top: 2px dashed #ff4350;
	width: 25px !important;
}


ol.progtrckr li.progtrckr-error:before {
    content: "" !important;
   color: white;
    background-color: #ff4350 !important;
    height: .85em !important;
    width: .85em !important;
    /* line-height: 2.5em; */
    /* border: none; */
    border-radius: 2.2em;
    left: 7px;
    top: -7px;
}







ol.progtrckr li.progtrckr-todo {
    color: #121212; 
    border-top: 2px dashed #FFE4BB;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}
ol.progtrckr li:before {
    position: relative;
    top: -1.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.4em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
   content: "\2022";
    color: #FFE4BB;
    /* background-color: white; */
    font-size: 10.2em;
    top: -0.54em;
}






/*order steps end*/




/*TOOLTIP CUSTOM*/



a.tooltips {
    position: relative;
    display: inline;
}

a.tooltips:hover
{
	
	border-bottom: 1px solid #fff;
}


a.tooltips span {
    position: absolute;
    width:200px;
    color: #FFFFFF;
    background: #ff4350;
    height: 60px;  
    text-align: center;
    visibility: visible;
    border-radius: 7px;
	left: 10%;
    margin-left: -100px;
	top: -77px;
	font-size: 0.85rem;
	/*padding-top: 8px;*/
}
a.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #ff4350;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

a.tooltips span:before {
    content: '\2022';
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -8px;
    width: 0; 
	height: 0;
	font-size: 50px;
	color: $order-error;
   
}







/*a:hover.tooltips span {
    visibility: visible;
    opacity: 0.9;
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}*/







/*TOOLTIP CUSTOM END*/




/*TOOLTIP CANCEL ORDER*/



a.tooltips-cancel {
    position: relative;
    display: inline;
}

a.tooltips-cancel:hover
{
	
	border-bottom: 1px solid #fff;
}


a.tooltips-cancel span {
    position: absolute;
    width:200px;
    color: $warning-yellow-text;
    background: $warning-yellow;
    height: 60px;  
    text-align: center;
    visibility: visible;
    border-radius: 7px;
	left: 10%;
    margin-left: -100px;
	top: -77px;
	font-size: 0.85rem;
	/*padding-top: 8px;*/

}
a.tooltips-cancel span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid $warning-yellow;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

a.tooltips-cancel span:before {
    content: '\2022';
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -8px;
    width: 0; 
	height: 0;
	font-size: 50px;
	color: $warning-yellow;

   
}


/*TOOLTIP CANCEL ORDER END*/









.container-steps
{
	
	display: block;
	
}



.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }


.order-header
{
	
	padding-bottom: 150px;
}



.order-header h1 {
    font-size: 1.4rem;
    line-height: 2;
    font-weight: 500;
    
}

.order-header h2 {
    font-size: 0.85rem;
    line-height: 2;
    font-weight: 500;
    padding-bottom: 10px;
}





.order-num-div
{
	
	
	flex: 1 1 100%;
    width: 100%;
  
	float: left;
}



.order-date-div
{
	   display: flex;
    position: absolute;
    right: 0;

	
	
}



.content-steps
{
	
	    flex: 1 1 70%;
/*    max-width: 90%;*/
    margin: 0 auto;
	
}



.fake-div-popup
{
	
	width: 50%;
	
}













.undo {
                    text-align: center;
                    position: absolute;
                   
                   
                    cursor: pointer;
                }
                
               
                .k-window-content p {
                    margin-bottom: 1em;
                }


		.k-window-content
{
	padding: 15px !important;
	
}





.k-state-focused:not(.k-button){
	
	box-shadow: 0 4px 10px 4px rgba(0,0,0,.2) !important;
	
}


.tooltip-content 
{
	
	  display: flex;
  align-items: center;
  justify-content: center;
	 height: 100%;
	padding: 5px;
	line-height: normal;
}



#menu-bar li

{
            font-size: 12px; 
	
              
            }









#menu 

{
	width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  
	
   
}


#menu-bar
{
	
	background-color: #f0f3f5 !important;
}
	
   


           
        
            
.k-menu
{
	    background-color: #f0f3f5 !important;

}






.red-alert
{
	
	color: #ff4350;
}



.error-parent-panel {
   
    
    display: flex;
    position: relative;
	margin-bottom: -1px;
	margin-top: 10px;
}


.error-parent-panel-header {
   
    border-bottom: 2px solid #ddd;
    display: flex;
    position: relative;
	margin-bottom: 10px;
}



.error-parent-panel-header h3
{
	
	font-weight: 700;
	color: #000;
	margin-bottom: 5px;
}





.error-sol-info-panel {
    flex: 1 1 100%;
    width: 100%;
    padding-right: 1em;
	    padding-left: 1em;
}

/*#window h3 {
    font-size: 1.2rem;
    color: $order-error;
    font-weight: 500;
}*/


.error-info-panel {
    flex: 1 1 50%;
    width: 50%;
    padding-right: 1em;
	    padding-left: 1em;
}


.error-sol-panel {
    flex: 0 0 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
	margin-bottom: 15px;
}







.error-type-panel {
    flex: 1 1 20%;
    width: 100%;
    padding-right: 1em;
	font-weight: 500;
	
	
}



.error-type-panel-header {
    flex: 1 1 20%;
    width: 100%;
    padding-right: 1em;
	font-weight: 500;
	
	
}


.error-sol-panel-parent-header
{
	
	  flex: 1 1 80%;
    display: flex;
    padding-right: 1em;
	
	  
	
}

.error-only-panel-header {
    flex: 1 1 50%;
    padding-right: 1em;
	 
}



.error-solution-panel-header {
    flex: 1 1 50%;
 
	
}





.error-sol-panel-parent
{
	
	  flex: 1 1 80%;
    display: flex;
    padding-right: 1em;
	 border-bottom: 1px solid #ccc;
	    margin-top: 10px;
	
}


.custom-hr
{
	
	margin: 0;
	
}



.error-only-panel {
    flex: 1 1 50%;
    padding-right: 1em;
	 
}



.error-solution-panel {
    flex: 1 1 50%;
 
	
}











.error-parent-panel .k-i-minus-circle
{
	
	margin-right: 5px;
	margin-top: -3px;
}














#window h1
{
	
	 font-size: 1.4rem;
    line-height: 2;
    font-weight: 500;
 
	
}




.error-info-panel li
{
	
	list-style-type:decimal !important;
}



.error-info-panel a {
    color: #ff4350 !important;
}




/*ORDER STEP START*/



.multi-steps > li.is-active:before, .multi-steps > li.is-active ~ li:before {
  /*content: counter(stepNum);*/
  font-family: inherit;
  font-weight: 700;
}
.multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
  background-color: $order-pending-status;
}








.multi-steps > li.error-active:before, .multi-steps > li.error-active ~ li:before {
  content: counter(stepNum);
  font-family: inherit;
  font-weight: 700;
}


.multi-steps > li.error-active:after, .multi-steps > li.error-active ~ li:after {
  background-color: $order-pending-status;
	
}


.multi-steps > li.error-active:after
{
	
	width: 250px;
}


.multi-steps {
  display: table;
  table-layout: fixed;
  width: 82%;
	/*width: 1200px;*/
	margin: 0 auto;
}

.error-active {

  color:  $order-error !important;
	padding-top: 7px;
	
    width: 10px;
}


.multi-steps > li {
  counter-increment: stepNum;
  text-align: center;
  display: table-cell;
  position: relative;
  color: #00b312;

}


.multi-steps > li:before {
  content: '\f00c';
  content: '\2713;';
  content: '\10003';
  content: '\10004';
  content: '\2713';
  display: block;
  margin: 0 auto 4px;
  background-color: #fff;
  width: 36px;
  height: 36px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  border-color: #00b312;
  border-radius: 50%;
}
.multi-steps > li:after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #00b312;
  position: absolute;
  top: 18px;
  left: 50%;
  z-index: -1;
}
.multi-steps > li:last-child:after {
  display: none;
}
.multi-steps > li.is-active:before {
  background-color: #fff;
  border-color: #00b312;
}
.multi-steps > li.is-active ~ li {
  color: $order-pending-status;
}
.multi-steps > li.is-active ~ li:before {
  background-color: $order-pending-status;
  border-color: $order-pending-status;
}









.multi-steps > li.error-active:before {
 background-color: $order-error;
    border-color: $order-error;
	color: $order-error;
	width: 15px;
    height: 15px;
/*	content: '\2022';*/
		content: none;
	
	
}
.multi-steps > li.error-active ~ li {
  color: $order-pending-status;
}
.multi-steps > li.error-active ~ li:before {
  background-color: $order-pending-status;
  border-color: $order-pending-status;
}













/*ORDER STEP END*/





.text-center
{
	
	text-align: center !important;
}



.order-admin-main h1
{
	font-size: 1.3em;
	
	
}


.order-admin-main .k-i-warning
{
	
	font-size: inherit;
}


.sidebar-right
{
    flex: 1 1 30%;
    max-width: 30%;
    
    
   
   
	


	
}




.content-sidebar
{
	    flex: 1 1 100%;
    max-width: 100%;
    margin: 0 auto;
	border: #ddd solid 1px;
	border-radius: 3px;
	 padding: 1rem 1.33333rem;
	 font-size: 0.86667rem;
    line-height: 1.5;
	margin-left: 1.33333rem;
	margin-bottom: 15px;
}








.sidebar-right h1
{
	
	font-size: 1.2em;
}


.footer-popup-oa {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 97%;
  background-color: #fff;
 height: 50px;
	
}


.error-parent-panel ol
{
	
	margin-left: 15px;
	
}



.k-button-red
{
	
	background-color: $nova-red;
	color: #fff !important;
	border-color: $nova-red;
}




.k-button-red:hover
{
	
	background-color: darken($nova-red, 20) ;
	color: #fff !important;
	border-color: $nova-red;
}




#menu-bar-top
{
	background-color: #f0f3f5 !important;
	
}


.menu-items-ul
{
	width: 96%;
    max-width: 1400px;
    margin: 0 auto;
	display: flex;
	
}


.menu-items-ul .k-icon
{

margin-right: 4px;


}



.menu-items-ul a
{
	
	color: inherit;
	
}


.menu-items-ul a:hover
{
	
	
	border-bottom: none !important;
}






#menu-bar-top li
{
	font-size: 14px;
	height: 42px;
	padding: 12px 20px 10px 0px;
	text-decoration: none !important;
}





.k-window-titlebar
{
	
	background-color: $nova-theme-red;
	color: #fff;
}



.noti-success
{
	
	color: $color-icon-green;
	padding-top: 2px;
}


.noti-error
{
	
	color: $order-error;
		padding-top: 2px;
}



.order-admin-main-grid
{
	
	height: calc(100vh - 300px) !important;
    font-size: 13.5px !important;
}


.content-sidebar p
{
	
	margin-bottom: 0.4rem;
	
}


.order-header p
{
	
	font-size: 13.5px;
	
}


.tooltip-table
{
	
	
	margin: 15px;
	width: 97%;
}


.tooltip-error-body
{
	
	font-size: 0.93333rem;
    line-height: 1.5;
    margin-top: 3.2rem;
	
	
}



.tooltip-table td
{
	
	width: 50% ;
    padding: 5px;
	
}



.tooltip-table th
{
	width: 50% ;
	
	text-align: left;
	  padding: 5px;
	border-bottom: 2px solid #ddd;
	
}






.top-border-line
{
	
	border-top: 1px solid #ccc;
	
}

.bottom-border-line
{
border-bottom: 1px solid #ccc;
}


/*.tooltip-table tr:hover
{

    background-color: #f5f6f6;
	
}*/




.tooltip-error-body ol
{
	
	padding-left: 13px;
}

.tooltip-error-body .mo-form-group
{
	
	
	    margin-bottom: 15px;
	
}

.tooltip-error-body ul
{
	list-style: initial !important;
	padding-left: 13px;
}





.ship-info
{
	
	width: 50%;
	float: left;
	padding-top: 15px;
}


.bill-info
{
	
	width: 50%;
	float: left;
	padding-top: 15px;
}


.ean-info
{
	width: 99%;
	float: left;
	padding-top: 15px;
}


.ean-info input
{
	
	width: 50% !important;
}






.br
{
	
	margin-bottom: 15px;
}


.position-inherit
{
	
	
	position: inherit;
}





.popup-form-error-div {
   
    border-bottom: 1px solid #ccc;
    display: flex;
    position: relative;
	width: 97%;
}




.width-fl 
{
	
	width: 100% !important;
}




.default-btn
{
	
	color: #fff;
    background-color: #00acc1;
    border-color: #00acc1;
	font-family: FiraSans, Verdana, Arial, sans-serif;
	border: 1px solid #00acc1;
    border-radius: 3px;
	width: auto;
    padding: 0.23333rem 0.8rem;
	font-size: 0.86667rem;
    line-height: 1.6;
}



.default-btn:hover
{
	
	    background-color: #0095a8;
    border-color: #0095a8;

}


.tr-table-form {
background-color: #f5f6f6;
	padding-left: 15px;
	
}


.process-error
{
	height: auto;
	
	
    background-color: $warning-yellow;
	
	
}


.process-error-txt
{
	
	width: 96%;
    max-width: 1400px;
    margin: 0 auto;
    display: block;
	 color: $warning-yellow-text;
	text-align: center;
	
}

.back-order-tb th
{
	
	text-transform: none;
}




.col input, .col .btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.col input:hover,
.btn:hover {
  opacity: 1;
}

.col
{
	
	    margin: 0 auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 20px 30px 20px;
	width: 500px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.login-label
{
	font-size: 1.7rem;
	line-height: normal;
	
	
}

.col2 input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #d3d3d3;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.col2:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.col2 input:checked ~ .checkmark {
  background-color: $nova-theme-red;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.col2 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.col2 .checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.col2
{
	
	display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.col h1
{
	
	font-size: 1.2rem;
    line-height: 1;
    margin-bottom: 1.6rem;
    font-weight: 500;
	text-transform: uppercase;
}



.mr-lt
{
	margin-right: 5px;
	
}




