@charset "UTF-8";

// Webfonts
@include font-face('FiraSans', 'FiraSans-Light',   300, normal);
@include font-face('FiraSans', 'FiraSans-Regular', 400, normal);
@include font-face('FiraSans', 'FiraSans-Medium',  500, normal);
@include font-face('FiraSans', 'FiraSans-Bold',    700, normal);

// Globals
html {
    font-size: percentage($root-font-size-px / 16);
    //height: 100%;
}

body {
    font-family: $font-sans;
    @include font-size($root-font-size-px);
    color: $color-text;
    //height: 100%;
    //height: 100vh;
    //display: flex;
    //flex-direction: column;
}

a {
    color: $color-link;
    text-decoration: none;
    
    &:hover {
        border-bottom: 1px solid;
    }
}

p {
    margin-bottom: px2rem($main-line-ht-px);
}

header[role="banner"] {
    background-color: $color-bg-dark;
    color: $color-white;
    //height: px2rem(64);
    //@include font-size(13, 13, true);
    //padding: 0 px2rem(20);
}

footer[role="contentinfo"] {
    background-color: $color-bg-dark;
    color: $color-white;
    //margin-top: px2rem($main-line-ht-px * 2);
    margin-top: auto;
}

.footer-content {
    @include font-size(12, 14.4, true);
    padding: px2rem(9) 0;
    width: 98%;
    margin: 0 auto;
    text-align: center;
    
    p {
        margin-bottom: 0;
    }
}

.header-content-main {
    display: flex;
    //max-width: 800px;
    width: 98%;
    height: px2rem(66);
    margin: 0 auto;
    padding: px2rem(9) 0;
    
    .brand {
        width: 25%;
        display: flex;
        
        h1 {
            @include font-size(28, 48, true);
            font-weight: $font-bold;
            margin-left: px2rem(12);
        }
    }
    
    .greeting {
        width: 75%;
        text-align: right;
        @include font-size(14, 48, true);
    }
}

.jini-logo {
    width: px2rem(36);
    height: auto;
}

.breadcrumbs {
    background-color: $color-bg-misc;
    padding: px2rem(9) 0;
    color: $color-text;
    
    & > ul {
        display: flex;
        //max-width: 800px;
        width: 98%;
        margin: 0 auto;
        
        li {
            @include font-size(13, $main-line-ht-px, true);
            
            &:not(:first-child):before {
                content: '\203a';
                margin: 0 px2rem(10);
            }
        }
        
        strong {
            font-weight: $font-medium;
        }
    }
}

.container {
    width: 96%;
    max-width: 1400px;
    margin: px2rem($main-line-ht-px * 1.5) auto;
    display: flex;
	position: relative;
}

.content {
    flex: 1 1 70%;
    max-width: 70%;
    margin: 0 auto;
    
    header {
        border-bottom: 2px solid $color-border;
        position: relative;
        
        h1 {
            @include font-size(24, $main-line-ht-px * 2, true);
            font-weight: $font-medium;
			padding-bottom: 10px;
            //color: $color-head;
        }
    
        .desc {
            @include font-size(17, 17 * 1.5, true);
        }
    }
    
    &.main-page {
        header {
            border-bottom: 0;
        }
    }
    
    &.wizard-set-prices {
        header {
            border-bottom: 0;
        }
    }
}

.desc {
    font-weight: $font-light;
}

.sidebar {
    flex: 1 1 30%;
    max-width: 30%;
    background-color: $color-bg-misc;
    margin-left: px2rem(20);
    padding: px2rem(15) px2rem(20);
    @include font-size(13, 13 * 1.5, true);
    
    h1 {
        @include font-size($root-font-size-px, $main-line-ht-px * 1.5, true);
        font-weight: $font-bold;
    }
}

.mo-sidebar-sticky {
	height: calc(100vh - 2.4rem - 2.4rem); // 2.4rem is the margin of the container
	position: sticky;
	top: 2.4rem;
}

.std-len {
    width: 100%;
}

.jini-btn {
    font-family: $font-sans;
    //font-weight: $font-light;
    //text-transform: uppercase;
    background-color: $color-white;
    border: 1px solid $color-btn-border;
    border-radius: 3px;
    color: $color-btn-border;
    //@include font-size(15, 25.8, true);
	@include font-size(13, 13 * 1.6, true);
    padding: px2rem(3.5) px2rem(12);
    
    &:hover {
        background-color: $color-bg-btn-hover;
        border: 1px solid $color-btn-border;
        border-radius: 3px;
    }
    
    &.standout {
        color: $color-orange;
    }
    
    &.sec-standout {
        border: 1px solid $color-border;
        border-radius: 3px;
    }
    
    &.btn-block {
        text-align: center;
    }
    
    &.btn-primary {
        background-color: $color-orange;
        color: $color-white;
        border-color: $color-orange;
        
        &:hover {
            background-color: $color-orange-hover;
            border-color: $color-orange-hover;
        }
    }
	
	&.btn-secondary {
        background-color: $color-blue-3;
        border-color: $color-blue-3;
        color: $color-white;
		padding: px2rem(3.5) px2rem(12);
		display: inline-block;
        
        &:hover {
            background-color: $color-blue-4;
            border-color: $color-blue-4;
        }
    }
    
    &.disabled {
        color: $color-btn-disabled;
        border-color: $color-btn-disabled-border;
        pointer-events: none;
    }
}

.jini-msg {
    @include font-size(13, 13, false);
    z-index: 200;
    background-color: $color-bg-misc;
    padding: px2rem(7) px2rem(10);
    //margin-top: px2rem($main-line-ht-px / 2);
    border: 1px solid $color-border;
    border-radius: 3px;
    display: flex;
    align-items: flex-start;
    position: fixed;
    width: 50%;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -100%);
    transition: transform 0.5s ease-out;
    //opacity: 0;
    
    &.visible {
        transform: translate(-50%, 40%);
    }
	
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	ul {
		list-style-type: disc;
		padding-left: 1em;
	}
    
    img {
        margin-right: px2rem(10);
    }
    
    &.error {
        background-color: tint($color-orange, 85);
        color: $color-orange;
        border: 1px solid rgba($color-orange, 0.25);
        //@include rem-vals(margin, false, $main-line-ht-px / 2, 0, $main-line-ht-px / 3, 0);
    }
	
	
	 &.success {
        background-color: tint($color-icon-green, 85);
        color: #000;
        border: 1px solid rgba($color-icon-green, 0.25);
        //@include rem-vals(margin, false, $main-line-ht-px / 2, 0, $main-line-ht-px / 3, 0);
    }
    
    &:last-child {
        margin-bottom: 0;
    }
    
    &.global {
        //margin: px2rem($main-line-ht-px * 2) 0 0;
    }
    
    &.highlight {
        background-color: $color-yellow;
        border: 1px solid $color-yellow-dark;
    }
}

.jini-form-error {
	display: flex;
    align-items: center;
	margin-bottom: 0;
	margin-top: 5px;
	@include font-size(12, 12 * 1.4, true);
	color: $color-orange;
	
	img {
		margin-right: 5px;
	}
}

.jini-tooltip {
    @include font-size(13, 13 * 1.5, true);
    box-shadow: 1px 1px 2px $color-bg-progress;
    width: px2rem(300);
    border: 1px solid $color-white;
    padding: px2rem(12) px2rem(16);
    display: flex;
    background-color: $color-bg-misc;
    margin: -10px -10px -10px -11px; // This is to offset the padding introduced by Kendo UI.
    
    &.all-good {
        background-color: $color-green;
        color: $color-white;
    }
    
    &.warning {
        background-color: tint($color-blue-2, 80);
        color: $color-blue-2;
        width: px2rem(400);
    }
    
    &.error {
        background-color: tint($color-orange, 80);
        color: $color-orange;
        width: px2rem(400);
    }
}

.jini-tooltip-icon {
    width: 15%;
}

.jini-tooltip-text {
    flex: 1;
    
    h3 {
        font-weight: $font-medium;
        margin-bottom: px2rem($main-line-ht-px / 3);
        @include font-size(14, 14 * 1.5, true);
        
        &:only-child {
            margin-bottom: 0;
            text-align: center;
            @include font-size(15, 15 * 1.5, true);
        }
    }
    
    p {
        margin-bottom: 0;
    }
}

.jini-tooltip-action {
    display: inline-block;
    margin-top: px2rem(7);
}

.jini-input-group {
    display: flex;
    position: relative;
    
    input {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex: 1;
    }
    
    button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    
    .jini-input-suggestions {
        display: none; //hidden by default
        z-index: 100;
        position: absolute;
        top: 100%;
		left: 0;
        width: 100%;
        @include font-size(12, 12 * 1.5, true);
        border: 1px solid $color-border;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: $color-white;
        padding: px2rem(5) px2rem(10);
        font-feature-settings: 'tnum';
    }
}

.help-text {
    @include font-size(13, 13 * 1.5, true);
}

.jini-table {
    font-feature-settings: 'tnum';
    table-layout: fixed;
    width: 100%;
    
    thead {
        border-bottom: 2px solid $color-border;
    }
    
    th {
        text-align: left;
    }
    
    tbody {
        tr {
            border-bottom: 1px solid $color-border;
            
            &:hover {
                background-color: $color-bg-btn-hover;
            }
        }
    }
    
}

.block {
    border-bottom: 1px solid $color-border;
    padding: px2rem($main-line-ht-px * 2) 0;
    position: relative;
    
    &:last-of-type:not(.wizard-nav) {
        border-bottom: 0;
    }
    
    &.wizard-nav {
        border-top: 1px solid $color-border;
        border-bottom: 0;
        padding: px2rem($main-line-ht-px * 2) 0 0;
    }
    
    h1 {
        @include font-size(18, 18, true);
        margin-bottom: px2rem($main-line-ht-px);
        font-weight: $font-medium;
        
        &:not(:first-of-type) {
            margin-top: px2rem($main-line-ht-px * 2);
        }
    }
    
    h2 {
        @include font-size(16, 16, true);
        margin-bottom: px2rem($main-line-ht-px);
        font-weight: $font-medium;
    }
    
    h1 + .block-lead {
        margin-top: px2rem($main-line-ht-px * -1);
    }
    
    div > h1:first-child {
        margin-top: px2rem($main-line-ht-px * 2);
    }
    
    label {
        display: block;
        margin-bottom: px2rem($main-line-ht-px / 3);
    }
    
    &.padded {
        @include rem-vals(padding, true, ($main-line-ht-px * 2) + 39, $main-line-ht-px * 2, $main-line-ht-px * 2); // 39 is the height of the .access-label that is absolutely positioned
        border-style: solid;
        border-color: $color-border;
        border-width: 0 1px 0;
    }
    
    &.block-toolbar {
        padding: px2rem($main-line-ht-px) 0;
    }
    
    &.block-summary {
        h1 {
            margin-bottom: px2rem(15);
        }
    }
    
    &:last-child {
        &.padded {
            border-width: 0 1px 1px;
        }
    }
}

.block-level-actions {
    display: flex;
    position: absolute;
    right: 0;
    top: px2rem(8);
    
    button,
    .jini-btn {
        display: flex;
        align-items: center;
        @include font-size(13, 13 * 1.6, true);
        //padding: px2rem(7) px2rem(12);
        padding: px2rem(3.5) px2rem(12);
        //border: 1px solid $color-border;
        //border-radius: 3px;
        margin-right: px2rem(12);
		color: $color-white;
		background-color: $color-blue-3;
		border-color: $color-blue-3;
        //cursor: pointer;
        
        img {
            margin-right: px2rem(7);
        }
        
        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $color-blue-4;
            border-color: $color-blue-4;
        }
		
		&.disabled {
			opacity: 0.25;
			pointer-events: none;
		}
    }
}

.block > .block-level-actions {
    top: px2rem(42);
}

.control-suffix {
    display: flex;
    align-items: center;
    margin-bottom: px2rem($main-line-ht-px);
    
    .control {
        
    }
    
    .suffix {
        margin-left: px2rem(5);
        text-align: right;
    }
    
    &.std-len {
        .control {
            // This was previously 95%. Changing it to 100% because for .std-len, we are only showing .control and not the .suffix
            width: 100%;
        }
    }
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.mo-full-overlay {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color-white, 0.9);
	z-index: 1000;
}

.flex-col {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fade {
    opacity: 0.4;
}