@charset "UTF-8";

.k-button {
    //text-transform: uppercase;
    //font-weight: $font-light;
}

.k-textbox {
    height: auto !important;
}

.k-multiselect-wrap > .k-input {
    font-family: $font-sans;
}

.k-widget {
    line-height: 1.6;
    margin-bottom: px2rem($main-line-ht-px);
    
    &:last-child {
        margin-bottom: 0;
    }
    
    &.prod-count {
        margin-bottom: 0;
    }
}

.custom-period-popup-content .k-widget {
    margin-bottom: 0;
}

.k-dropdown {
    width: 100%;
}

.k-numerictextbox {
    .k-input {
        //text-align: right;
    }
}

.k-numeric-wrap {
    display: flex;
}

.k-multicheck-wrap input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
}

// popup 
.k-window-titlebar {
    @include font-size(16, 16 * 1.5, false);
}
.k-window-title {
    //top: 8px;
}

.k-tooltip {
    padding: 0;
}

.k-grid {
    font-family: $font-sans;
    @include font-size(14, 14, false);
    min-height: 400px;
}

// The following is for the main grid. Enabled it when markup + style of Iteration 2B was
// integrated with the main grid style.
.k-tooltip-content {
    padding: 5px;
    font-size: 13px;
    line-height: 1;
}

.k-button, .k-calendar .k-footer, .k-calendar .k-header .k-link {
    text-transform: none;
}

.k-tabstrip > .k-content {
    @include rem-vals(padding, true, $main-line-ht-px, $main-line-ht-px * 0.75);
    //padding-top: px2rem($main-line-ht-px * 1.5);
    //padding-bottom: px2rem($main-line-ht-px * 1.5);
}

.multiselect-input-override {
    width: auto !important;
}

*::-webkit-input-placeholder {
    color: $color-text;
}
*::-moz-placeholder {
    color: $color-text;
    opacity: 1;
}
*::-ms-input-placeholder {
    color: $color-text;
}

.k-calendar {
    table {
        border-collapse: separate;
    }
    
    td {
        vertical-align: middle;
    }
}

// Custom icon to indicate that a filter is active on a column in Kendo's grid
.k-grid-filter.k-state-active .k-filter {
    background-position: 0 0;
    background-image: url(/Content/icons/filter-red.png);
}

input.k-textbox {
    text-indent: 0;
}

div.k-window-content {
    padding: 0;
}




.k-grid { font-feature-settings: "tnum"; }



.k-grid-header {border-bottom: 0;}













