@charset "UTF-8";

.mo-order-summary-info {
    display: flex;
    background-color: $color-bg-misc;
}

.mo-order-summary-item {
    border-left: 1px solid $color-border;
    flex: 1;
    padding: 1em 1.5em;
    @include font-size(13, 13 * 1.5, true);
    
    h2 {
        font-weight: $font-medium;
        margin-bottom: px2rem(13 * 1.5);
    }
    
    p {
        margin-bottom: 0;
    }
    
    &:first-child {
        border-left: 0;
    }
}

.mo-order-totals {
    width: 42%;
    margin-left: auto;
    
    .mo-prod-basket {
        &:nth-child(2) {
            width: 75%;
        }
        
        td {
            font-weight: $font-normal;
            padding: 8px;
        }
    }
    
    td {
        
    }
    
    tr:last-child {
        border-top: 4px double $color-border-dark;
        td {
            font-weight: $font-bold;
        }
    }
}