@charset "UTF-8";

.content.view-sales-config {
    & > header {
        border-bottom: 0;
    }
    
    //.block {
    //  &:last-child {
    //      border-bottom: 0;
    //      padding: px2rem($main-line-ht-px * 2) 0 0;
    //  }
    //}
}

.block.has-tabstrip {
    padding: px2rem(34) 0;
}

.sales-config-info {
    .jini-msg {
        //background-color: $color-yellow;
        //border-color: $color-yellow-dark;
        //padding: px2rem(17.5) px2rem(10);
        
        //span:not(:last-child) {
        //    margin-right: px2rem(20);
        //}
    }
    
    .icon-draft {
        margin-right: 5px;
        fill: #777;
    }
    
    span:not(:last-child) {
        margin-right: px2rem(20);
    }
    
    a {
        color: inherit;
        text-decoration: underline;
        
        &:hover {
            text-decoration: none;
            border-bottom: 0;
        }
    }
}

.sales-config-history {
    table {
        width: 100%;
        font-feature-settings: 'tnum';
    }
    
    thead {
        border-bottom: 2px solid $color-border;
    }
    
    th {
        font-weight: $font-light;
        text-align: left;
        //color: $color-grey;
    }
    
    tbody {
        tr {
            border-bottom: 1px solid $color-border;
            
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}

.sales-config-toolbar {
    display: flex;
    
    li {
        display: flex;
        align-items: center;
        @include font-size(13, 13 * 1.6, true);
        padding: px2rem(7) px2rem(12);
        border: 1px solid $color-border;
        border-radius: 3px;
        margin-right: px2rem(12);
        cursor: pointer;
        
        img {
            margin-right: px2rem(7);
        }
        
        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $color-bg-btn-hover;
        }
    }
}

.new-version-warning-popup-content {
    h3 {
        font-weight: $font-bold;
        @include font-size(16, 16 * 1.5, true);
        margin-bottom: px2rem(16 * 1.5);
    }
    
    ul {
        margin-bottom: px2rem(16 * 1.5);
    }
    
    li {
        list-style-type: disc;
        line-height: 1.5;
        margin-left: 1rem;
    }
}

.header-with-toolbar {
    display: flex;
    //justify-content: space-between;
    align-items: baseline;
    width: calc(75% + 2em);
    
    .sales-config-toolbar {
        margin-left: 1em;
    }
}
