@charset "UTF-8";

.prod-search-box {
    width: 75%;
    margin: 0 auto px2rem($main-line-ht-px);
}

.prod-search-results {
    margin: px2rem($main-line-ht-px) auto;
    
    & > h1 {
        //font-weight: $font-medium;
        //color: $color-text-light;
		@include font-size(18, 18, true);
        margin: px2rem($main-line-ht-px * 2) 0 px2rem($main-line-ht-px);
        font-weight: $font-medium;
		text-align: center;
    }
}

.prod-search-result {
    padding: px2rem($main-line-ht-px) 0;
    border-bottom: 1px solid $color-border;
    display: flex;
    position: relative;
    
    &.sold-out,
    &.not-available,
    &.notAvailable {
        &:after {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $color-white;
            opacity: 0.6;
            content: "";
        }
        
        .prod-purchase-status {
            z-index: 10;
            
            *:not(.prod-disabled-msg) {
                opacity: 0.4;
                pointer-events: none;
            }
        }
    }
}

.prod-search-result.prod-bundle {
    .prod-purchase-status {
        margin-bottom: px2rem($main-line-ht-px);
    }
    
    .prod-meta {
        .show-all {
            cursor: pointer;
        }
    }
}

.prod-search-result.prod-license {
    .prod-actions {
        margin-top: auto;
    }
}

.prod-purchase-status {
    @include font-size(14, 14, false);
    
    .icon-info {
        position: relative;
        top: 4px;
        margin-right: 5px;
    }
}

.prod-info {
    flex: 1 1 64%;
    width: 64%;
    padding-right: 1em;
}

.prod-purchase {
    flex: 0 0 36%;
    width: 36%;
    display: flex;
    flex-direction: column;
    
    p {
        margin-bottom: 0;
    }
	
	.prod-price {
		margin-bottom: px2rem(7);
	}
    
    .help-text {
        color: $color-text-light;
    }
}

.prod-title {
    @include font-size(18, 18, true);
    font-weight: $font-medium;
    display: flex;
    margin-bottom: px2rem($main-line-ht-px * 0.25);
    align-items: flex-end;
}

.prod-subtitle {
    margin-bottom: px2rem($main-line-ht-px * 0.75);
    @include font-size(16, 16 * 1.5, true);
}

.prod-type {
    @include all-smcp();
    background-color: $color-bg-misc;
    @include font-size(14, 14, false);
    padding: 1px 10px 2px;
    border: 1px solid $color-grey-3;
    margin-right: 10px;
}

.prod-meta {
    @include font-size(13, 13 * 1.5, true);
}

.prod-disabled-msg + .k-widget {
    margin-top: 5px;
}

.in-stock,
.current,
.not-in-stock,
.upcoming {
    &:before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 5px;
        border-radius: 50%;
    }
}

.in-stock:before     { background-color: $color-icon-green;  }
.current:before      { background-color: $color-icon-green;  }
.not-in-stock:before { background-color: $color-icon-red;    }
.upcoming:before     { background-color: $color-icon-orange; }

.prod-price {
    margin-top: auto;
    //margin-bottom: px2rem($main-line-ht-px * 0.25) !important;
    font-weight: $font-medium;
    @include font-size(18, 18 * 2, false);
	line-height: 1.2;
    color: $color-green;
    
    span {
        color: $color-text-light;
        @include font-size(13, 13 * 1.5, true);
    }
    
    .actual-price {
        display: block;
        @include font-size(16, 16, true);
		margin-bottom: px2rem(7);
    }
}

.prod-actions {
    display: flex;
}

.prod-count {
    width: 110px;
    margin-bottom: 0;
    margin-right: 10px;
}

.prod-action-button {
    width: 100%;
    background-color: $color-blue-3;
    border-color: $color-blue-3;
    color: $color-white;
    //transition: border-color 0.5s, background-color 0.5s;
    
    &:hover {
        background-color: $color-blue-4;
        border-color: $color-blue-4;
    }
    
    &.added-to-basket {
        background-color: $color-green;
        border-color: $color-green;
        color: $color-white;
    }
}

//.mo-sidebar-sticky {
//	position: sticky;
//	top: 0;
//}


.mo-mini-basket-wrapper {
    position: relative;
	max-height: calc(100% - 100px - 1.2rem * 3); // 98 px is the height of buttons area, & 1.2rem are its top, middle, and bottom gutters
	overflow-y: auto;
}

.mo-mini-basket {
    th, td {
        padding: 4px;
    }
	
	tbody tr {
		&:hover {
			background-color: inherit;
		}
	}
    
    th,
    .mo-mini-basket-prods td {
        &:nth-child(2) {
            width: 20%;
            text-align: right;
        }
        
        &:nth-child(3) {
            width: 25%;
            text-align: right;
        }
    }
    
    .mo-mini-basket-totals {
        border-top: 4px double $color-border-dark;
        
        td {
            &:nth-child(2) {
                width: 25%;
                text-align: right;
            }
        }
		
		tr {
			border-bottom: 0;
		}
    }
    
    .grand-total {
        border-top: 4px double $color-border-dark;
        
        td {
            padding: 10px 4px;
            font-weight: $font-bold;
        }
        
        span {
            display: block;
            color: $color-text-light;
        }
    }
    
    &.faded {
        opacity: 0.1;
    }
}

.product-search-suggestions {
    max-height: 279px;
    overflow-y: auto;
    
    li {
        display: flex;
        
        border-bottom: 1px solid $color-border;
        padding: px2rem(5) 0;
        
        &:last-child {
            border-bottom: 0;
        }
        
        &:hover {
            background-color: $color-bg-btn-hover;
        }
        
        > * {
            padding: 0 px2rem(5);
        }
        
        > h3, p {
            width: 40%;
        }
        
        > p:last-child {
            width: 20%;
        }
    }
    
    h3 {
        font-weight: $font-medium;
    }
    
    p {
        margin-bottom: 0;
    }
}