h1
{
    font-size: 24px;
  
}

button
{
    
    text-transform: uppercase;
}

.btn-sm
{
    
    font-size: 12px !important;
    
}

label
{
    
    font-weight: bold;
}

h1.bold
{
    
    font-weight: bold;
}



h2

{
    
    font-size: 18px;
    
    
}



h2.bold
{
    
    font-weight: bold;
}







p.bold
{
    
    font-weight: bold;
    
}



.bold
{
    
    font-weight: bold;
}


.btn
{
    
    font-size: 14px;
}




.card-bg-white
{
    
    background-color: $card-bg-white;
    
}


.card-bg-grey
{
    
    background-color: $card-bg-grey;
    
}







a:hover
{
    
    
    text-decoration: none;
  
}







/*RIGHT SIDEBAR END*/
/*NEW TABLE CSS*/
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 0;
  padding: 0; }

.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
 /* overflow: hidden;*/
  list-style: none;
  border: solid 1px white;
  background: rgba(112, 128, 144, 0.2); }

.Rtable-cell > h1,
.Rtable-cell > h2,
.Rtable-cell > h3,
.Rtable-cell > h4,
.Rtable-cell > h5,
.Rtable-cell > h6 {
  margin: 0;
  font-weight: bold; }

.Rtable-cell a {
  color: #000; }

.Rtable-cell p {
  margin-bottom: 1px; }

.Rtable-cell h3 {
  font-size: 1em; }

/* Table column sizing
================================== */
.Rtable--1cols {
  width: 12.5%;
  float: left; }

.Rtable--2cols > .Rtable-cell {
  width: 50%; }

.Rtable--3cols > .Rtable-cell {
  width: 33.33%; }

.Rtable--4cols > .Rtable-cell {
  width: 25%; }

.Rtable--5cols > .Rtable-cell {
  width: 20%; }

.Rtable--6cols > .Rtable-cell {
  width: 16.6%; }

.Rtable--7cols > .Rtable-cell {
  width: 14.28%; }

.Rtable--8cols > .Rtable-cell {
  width: 12.5%; }

.Rtable--9cols > .Rtable-cell {
  width: 11.11%; }

.w-first-col {
  width: 10% !important; }

.Rtable--cols-custom {
  width: 100%; }

.Rtable--cols-custom > .Rtable-cell {
  width: 100%; }

.Rtable_timetable_col {
  flex-direction: column; }

.Rtable {
  position: relative;
  top: 3px;
  left: 3px; }

.Rtable-cell {
  margin: -3px 0 0 -3px;
  background-color: white;
  border-color: #e2e6e9;
  text-transform: capitalize; }

/* Cell styles
================================== */
.Rtable-cell--dark {
  background-color: slategrey;
  border-color: #5a6673;
  color: white; }

.Rtable-cell--dark > h1,
.Rtable-cell--dark > h2,
.Rtable-cell--dark > h3,
.Rtable-cell--dark > h4,
.Rtable-cell--dark > h5,
.Rtable-cell--dark > h6 {
  color: white; }

.Rtable-cell--medium {
  background-color: #b8c0c8;
  border-color: #a9b3bc; }

.Rtable-cell--light {
  background-color: white;
  border-color: #e2e6e9; }

.Rtable-cell--highlight {
  background-color: lightgreen;
  border-color: #64e764; }

.Rtable-cell--alert {
  background-color: darkorange;
  border-color: #cc7000;
  color: white; }

.Rtable-cell--alert > h1,
.Rtable-cell--alert > h2,
.Rtable-cell--alert > h3,
.Rtable-cell--alert > h4,
.Rtable-cell--alert > h5,
.Rtable-cell--alert > h6 {
  color: white; }

.Rtable-cell--head {
  background-color: #2d3c4c;
  border-color: #5a6673;
  color: white;
  text-transform: capitalize; }

.Rtable-cell--head > h1,
.Rtable-cell--head > h2,
.Rtable-cell--head > h3,
.Rtable-cell--head > h4,
.Rtable-cell--head > h5,
.Rtable-cell--head > h6 {
  color: white; }

.Rtable-cell--foot {
  background-color: #b8c0c8;
  border-color: #a9b3bc; }

/* Responsive
==================================== */
@media screen and (max-width: 1199px) {
  .Rtable--collapse {
    display: block; }
  .table-header-static {
    display: none; }
  .table-header-monthly {
    margin: 0 0 0 0; }
  .Rtable-head-mobile {
    background-color: #2d3c4c;
    border-color: #5a6673;
    color: white;
    text-transform: capitalize; }
  .Rtable--collapse > .Rtable-cell {
    width: 100% !important; }
  .Rtable--collapse > .Rtable-cell--foot {
    margin-bottom: 1em; } }

@media screen and (min-width: 1200px) {
  .table-header-monthly {
    display: none; } }

.no-flexbox .Rtable {
  display: block; }

.no-flexbox .Rtable > .Rtable-cell {
  width: 100%; }

.no-flexbox .Rtable > .Rtable-cell--foot {
  margin-bottom: 1em; }

@media screen and (max-width: 1199px) {
  .hiddenSmall {
    display: none; } }

/* Accordion Styling
==================================== */
.Accordion-timetable {
  position: relative;
  top: -3px;
  left: -3px;
  width: 100%;
  margin: 0 0 0.5em 0;
  padding: 0.6em 0.6em 1em 2em;
  border-radius: 0.5em;
  text-align: left;
  border: solid 3px #2d3c4c;
  background-color: #2d3c4c;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.1s;
  cursor: pointer; }

@media screen and (min-width: 1200px) {
  .Accordion-timetable {
    display: none; } }

.Accordion-timetable:hover,
.Accordion-timetable:focus {
  outline: none;
  -webkit-filter: contrast(150%);
  filter: contrast(150%); }

.Accordion-timetable[aria-selected="true"] {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-width: 0;
  background: #2d3c4c; }

.Accordion-timetable:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 0.3em;
  margin-top: -1.14285714em;
  font-weight: normal;
  font-size: 2em;
  line-height: 2em;
  background-size: 2em 2em; }

.Accordion-timetable[aria-selected="true"]:before {
  content: "-"; }

.js-RtableTabs,
.js-RtableAccordions {
  min-width: 240px; }

.Rtable button {
  text-transform: capitalize; }

@media screen and (min-width: 1199px) {
  .d-none-web {
    display: none; } }

@media screen and (max-width: 1199px) {
  .d-none-mob {
    display: none; }
  .Rtable-cell--head {
    display: none; } }

/*NEW TABLE CSS END*/



/*TIMETABLE switch*/





#toggles{
width:60px;
margin:0 auto;
text-align:center;
}

.checkbox-label:before, .checkbox-label:after{
box-sizing:border-box;
margin:0;
padding:0;
/*transition*/
-webkit-transition:.25s ease-in-out;
   -moz-transition:.25s ease-in-out;
     -o-transition:.25s ease-in-out;
        transition:.25s ease-in-out;
outline:none;
}

.ios-toggle,.ios-toggle:active{
position:absolute;
top:-5000px;
height:0;
width:0;
opacity:0;
border:none;
outline:none;
}
.checkbox-label{
display:block;
position:relative;
padding:10px;
margin-bottom:20px;
font-size:12px;
line-height:16px;
width:100%;
height:36px;
/*border-radius*/
-webkit-border-radius:18px;
   -moz-border-radius:18px;
        border-radius:18px;
background:#f8f8f8;
cursor:pointer;
}
.checkbox-label:before{
content:'';
display:block;
position:absolute;
z-index:1;
line-height:34px;
text-indent:40px;
height:36px;
width:36px;
/*border-radius*/
-webkit-border-radius:100%;
   -moz-border-radius:100%;
        border-radius:100%;
top:0px;
left:0px;
right:auto;
background:white;
/*box-shadow*/
-webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
   -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
        box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}
.checkbox-label:after{
content:attr(data-off);
display:block;
position:absolute;
z-index:0;
top:0;
left:-300px;
padding:10px;
height:100%;
width:300px;
text-align:right;
color:#bfbfbf;
white-space:nowrap;
}
.ios-toggle:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
   -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
        box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
.ios-toggle:checked + .checkbox-label:before{
left:calc(100% - 36px);
/*box-shadow*/
-webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
   -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
        box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}
.ios-toggle:checked + .checkbox-label:after{
content:attr(data-on);
left:60px;
width:36px;
}


/* BLUE CHECKBOX */

#checkbox3 + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 0px $primary,0 0 0 2px #dddddd;
   -moz-box-shadow:inset 0 0 0 0px $primary,0 0 0 2px #dddddd;
        box-shadow:inset 0 0 0 0px $primary,0 0 0 2px #dddddd;
}
#checkbox3:checked + .checkbox-label{
/*box-shadow*/
-webkit-box-shadow:inset 0 0 0 20px $primary,0 0 0 2px $primary;
   -moz-box-shadow:inset 0 0 0 20px $primary,0 0 0 2px $primary;
        box-shadow:inset 0 0 0 20px $primary,0 0 0 2px $primary;
}
#checkbox3:checked + .checkbox-label:after{
color:$primary;
}



/*TIMETABLE switch END */



.card
{
    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.2);
    border: 0px;
}




/*.courses-card .card 
{
    
    
    min-height: 350px;
}*/


.card-noheight
{
    
    min-height: 0 !important;
}



.Rtable .card
{
    
    min-height: 0 !important;
   
    
}




.clt, .clt ul, .clt li {
     position: relative;
}

.clt ul {
    list-style: none;
    padding-left: 30px;
}

.clt li::before, .clt li::after {
    content: "";
    position: absolute;
    left: -12px;
}


.clt li::before {
    border-top: 1px solid #000;
    top: 9px;
    width: 8px;
    height: 0;
    margin-top: 4px;
}


.clt li::after {
    border-left: 1px solid #000;
    height: 100%;
    width: 0px;
    top: 5px;
}

.clt ul > li:last-child::after {
    height: 8px;
}


.courses-card ol
{
    
    padding-left: 15px;
    margin-bottom: 4px;
}



@media screen and (max-width: 410px)
{
    
    .btn-sm
    {
        
        margin-bottom: 5px;
    }
    
}


.Rtable .dropdown-toggle {
    white-space: unset;
}













/*POPOVER CUSTOM START*/


.popover-block-container .popover-icon {
  background: none;
  color: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}
.popover-block-container .popover-icon i {
  color: #04a0b2;
  text-align: center;
  margin-top: 4px;
}


.popover {
  max-width: 400px;
  border-radius: 6px;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.2);
 /* background-color: #f8f8f9;*/
    
    border: 1px solid #dcdcdc;
}





.popover a
{
    
    color: #fff !important;
    cursor: pointer
}


.popover-body {
  border: none;
 
  color: #5f6976;
  font-size: 15px;
 
  z-index: 2;
  line-height: 1.53;
  
}
.popover-body .popover-close {
  position: absolute;
  top: 5px;
  right: 10px;
  opacity: 1;
    color: #000 !important;
    cursor: pointer;
}
.popover-body .popover-close .material-icons {
  font-size: 16px;
  font-weight: bold;
  color: #04a0b2;
}

.popover-close .fas
{
    
    color: $black;
    
}

/*POPOVER CUSTOM END*/


.hw-popover
{
    
    background-color: $hw;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 7px;
    color: $black;
}

.hw-popover-slot-pills
{
    background-color: $hw;
     color: $black;
    border-radius: 3px !important;
    padding: 5px;
   
    font-size: .8rem;
}




.assign-popover
{
    
    background-color: $assign;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 7px;
    color: $white;
}


.assign-popover-slot-pills
{
    
     background-color: $assign;
    border-radius: 3px !important;
    color: $white;
    padding: 5px;
  
    font-size: .8rem;
    
    
}






.study-popover
{
    
    background-color: $study;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 7px;
    color: $white;
}


.study-popover-slot-pills
{
    
    background-color: $study;
    border-radius: 3px !important;
    color: $white;
    padding: 5px;
   
    font-size: .8rem;
}







@media screen and (min-width: 320px) and (max-width: 359px)
{

.popover {
  max-width: 306px !important;



}
}




@media screen and (min-width: 360px) and (max-width: 374px)
{

.popover {
  max-width: 340px !important;



}
}









@media screen and (min-width: 375px) and (max-width: 400px)
{

.popover {
  max-width: 350px !important;



}
}


.dropdown-custom .dropdown-toggle::after
{
    
     content: none;
    border: 0;
   
   font-size: 18px;
}



.dropdown-custom i
{
    
    cursor: pointer;
     color: $primary !important;
}


.table-courses
{
    
   height: calc(100vh - 450px);  
    overflow-y: scroll;
    
    }





@media screen and (min-width: 320px) and (max-width: 424px)
{
    
    
    
    .table-courses
{
    
   height: 300px;  
    overflow-y: scroll;
    
    }
    
    
    
    
}







.table-courses .table-responsive
{
    
   overflow-x: visible !important;
   
}



.custom-scroll
{
    
    height: 225px;
    overflow-y: scroll;
    
}




/*
os-theme-block-dark
*/

.os-theme-block-dark > .os-scrollbar {
    padding: 0;
}
.os-theme-block-dark > .os-scrollbar-horizontal {
    right: 16px;
    height: 16px;
}
.os-theme-block-dark > .os-scrollbar-vertical {
    bottom: 16px;
    width: 16px;
}
.os-theme-block-dark.os-host-rtl > .os-scrollbar-horizontal {
    left: 16px;
    right: 0;
}
.os-theme-block-dark > .os-scrollbar-corner {
    height: 16px;
    width: 16px;
    background-color: transparent;
}
.os-theme-block-dark > .os-scrollbar > .os-scrollbar-track {
    background: transparent;
}
.os-theme-block-dark > .os-scrollbar-horizontal > .os-scrollbar-track:before,
.os-theme-block-dark > .os-scrollbar-vertical > .os-scrollbar-track:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
}
.os-theme-block-dark > .os-scrollbar-horizontal > .os-scrollbar-track:before {
    left: 5px;
    right: 5px;
    height: 2px;
    top: 50%;
    margin-top: -1px;
}
.os-theme-block-dark > .os-scrollbar-vertical > .os-scrollbar-track:before {
    top: 5px;
    bottom: 3px;
    width: 2px;
    left: 50%;
    margin-left: -1px;
}
.os-theme-block-dark > .os-scrollbar-horizontal:hover > .os-scrollbar-track:before,
.os-theme-block-dark > .os-scrollbar-horizontal.active > .os-scrollbar-track:before {
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    margin-top: 0;
}
.os-theme-block-dark > .os-scrollbar-vertical:hover > .os-scrollbar-track:before,
.os-theme-block-dark > .os-scrollbar-vertical.active > .os-scrollbar-track:before {
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    margin-left: 0;
}
.os-theme-block-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
    background: transparent;
}
.os-theme-block-dark > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
    min-width: 100px;
    max-width: 100px;
}
.os-theme-block-dark > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
    min-height: 100px;
    max-height: 100px;
}
.os-theme-block-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    background: #6e6e6e;
}
.os-theme-block-dark.os-host-scrolling > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:before {
    background: #454545;
}
.os-theme-block-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:hover:before,
.os-theme-block-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle.active:before {
    background: #000;
}
.os-theme-block-dark > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
    height: 100%;
    min-width: 16px;
}
.os-theme-block-dark > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
    width: 100%;
    min-height: 16px;
}
.os-theme-block-dark.os-host-transition > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:before {
    transition: background 0.3s;
}
.os-theme-block-dark.os-host-transition > .os-scrollbar > .os-scrollbar-track:before {
    transition: margin 0.3s, height 0.3s, width 0.3s, top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}




/*
os-theme-thick-dark
*/

.os-theme-thick-dark > .os-scrollbar {
    padding: 5px;
}
.os-theme-thick-dark > .os-scrollbar:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    left: 2px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}
.os-theme-thick-dark > .os-scrollbar:hover:before {
    border: 1px solid rgba(0, 0, 0, 0.16);
}
.os-theme-thick-dark > .os-scrollbar.active:before {
    border: 1px solid rgba(0, 0, 0, 0.24);
}
.os-theme-thick-dark > .os-scrollbar-horizontal {
    right: 18px;
    height: 18px;
}
.os-theme-thick-dark > .os-scrollbar-vertical {
    bottom: 18px;
    width: 18px;
}
.os-theme-thick-dark.os-host-rtl > .os-scrollbar-horizontal {
    left: 18px;
    right: 0;
}
.os-theme-thick-dark > .os-scrollbar-corner {
    height: 18px;
    width: 18px;
    background-color: transparent;
}
.os-theme-thick-dark > .os-scrollbar > .os-scrollbar-track {
    background: transparent;
}
.os-theme-thick-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}
.os-theme-thick-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:hover {
    background: rgba(0, 0, 0, 0.6);
}
.os-theme-thick-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle.active {
    background: rgba(0, 0, 0, 0.8);
}
.os-theme-thick-dark > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle {
    min-width: 30px;
}
.os-theme-thick-dark > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle {
    min-height: 30px;
}
.os-theme-thick-dark > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -3px;
    bottom: -5px;
    display: block;
}
.os-theme-thick-dark > .os-scrollbar-horizontal > .os-scrollbar-track > .os-scrollbar-handle:before {
    top: -3px;
    bottom: -5px;
}
.os-theme-thick-dark > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle:before {
    left: -3px;
    right: -5px;
}
.os-theme-thick-dark.os-host-rtl > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle:before {
    right: -3px;
    left: -5px;
}
.os-theme-thick-dark.os-host-transition > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
    transition: background 0.3s;
}
.os-theme-thick-dark.os-host-transition > .os-scrollbar:before {
    transition: border 0.3s;
}



.course-table .fas, .far
{
    
    margin-right: 5px ;
}




.hw-strip
{
    background-color: $hw;
    display: block;
    position: absolute;
    height: 18px;
    border-radius: 25px;
    z-index: 9999;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}



.study-strip
{
    background-color: $study;
    display: block;
    position: absolute;
    height: 18px;
    border-radius: 25px;
    z-index: 9999;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: $white;
}



@media screen and (min-width: 320px) and (max-width: 1199px)
{
    
    .hw-strip
    {
        display: none;
    }
    
    
    .study-strip
    {
        display: none;
    }
    
    
}





    .box {
        align-self: flex-end;
        animation-duration: 2s;
        animation-iteration-count: infinite;
       
        
        margin: 0 auto 0 auto;
        transform-origin: bottom;
       -webkit-font-smoothing: antialiased;
    
    }
    .bounce-slot {
        animation-name: bounce-slot;
        animation-timing-function: ease;
       -webkit-font-smoothing: antialiased;
        
    }
    @keyframes bounce-slot {
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-12px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    }



ol.nostyle
{
    
    list-style-type: none;
}



.sublevel-tree li
{
    list-style-type: circle !important;
    
}




#dashboard .table th, .table td {
  
   
     border-top: hidden;
}



.timetable-calender .list-group-item{
    
    padding: 0.75rem .75rem;
    border: 0;
}



#toggles .checkbox-label:after
{
    
    
    
    color: $primary !important;
}



#toggles .checkbox-label
{
    
    
    -webkit-box-shadow: inset 0 0 0 20px #52489c, 0 0 0 2px #52489c;
    -moz-box-shadow: inset 0 0 0 20px #52489c, 0 0 0 2px #52489c;
    box-shadow: inset 0 0 0 20px #52489c, 0 0 0 2px #52489c;
}




#toggles .checkbox-label:before
{
    -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
    
}


#editor
{
    
     height: 300px !important;
    border-radius: 0px 0px 5px 5px;
}


.custom-h-new-editor
{
    
     height: 375px !important;
   
}









.form-group label
{
    
    
    text-transform: capitalize;
}


.upload-content .card
{
    
    min-height: 200px !important;
    line-height: 1.3;
    
}


/*
.upload-content .fas, .far
{
    
    
    margin-right: 0px !important;
}
*/



.upload-content
{
    
    margin-bottom: 0.5rem;
}



.num-of-lessons-width
{
    
    width: 75px;
}


.course-upload-screen
{
    
    min-height: 732px;
}



.card-strips {
 
    border-left: 1px solid;
    border-left-width: 6px;
    border-left-color: $primary;
    margin-bottom: 1rem;
}



.card-strips-summary {
 
    border-left: 1px solid;
    border-left-width: 6px;
    border-left-color: $primary;
    margin-bottom: 1rem;
    background-color: $white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.2);
   
}

.card-strips-latest-feed {
 
    border-left: 1px solid;
    border-left-width: 6px;
    border-left-color: $primary;
    margin-bottom: 1rem;
    background-color: $white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px rgba(0, 0, 0, 0.2);
    height: 48px;
    padding: 10px;
}




.scrollable-dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}





.content-panels
{
    
    
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(22, 35, 58, 0.125);
    border-radius: 0.25rem;
    height: 200px;
    overflow-y: scroll;
}



.group-bg
{
    
    padding: 5px;
    background-color: $primary;
    
}



.modal-content
{
    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.01), 0 3px 6px 1px rgba(0, 0, 0, 0.2);
}





.material-content li
{
    
    margin-bottom: 15px;
    
}


.summary-panel .os-content
{
    
    padding: 0px !important;
}



.summary-page {
    
    
    height: 300px;
    overflow-y: scroll;
    
    }


.summary-page .table-responsive
{
    
   overflow-x: visible !important;
   
}



#archive
{
    
    margin-top: 15px;
}



.archive-panel
{
    
    
    height: 600px;
    overflow-y: scroll;
    overflow-x: visible !important;
}




.latest-feed
{
    
    
    height: 350px;
    overflow-y: scroll;
    overflow-x: visible !important;
}










@media screen and (min-width: 320px) and (max-width: 991px)
{
    .archive-panel
{
    height: 250px !important;
    }
    
}





.card-active
{
    
    box-shadow:  inset 0px 0px 8px 0px #52489c, inset 0 0 10px 0px #52489c;
    
}



.seprator-line
{
    
  display: block; 
  margin-bottom: 1.2em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 0 0 1px 0;
  padding-bottom: 10px;
}





.cd-top {
  display: inline-block;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 13px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: $danger url(../imgs/calendar-alt-regular.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
  border-radius: 50px;
        z-index: 10;
  }

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
  }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
  }

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1; }

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;} }

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 13px; } }



.cd-top:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cd-top:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}



.student-courses-card
{
    
    
    height: 700px;
    overflow-y: scroll;
    
    }




.student-courses-card .table-responsive
{
    
   overflow-x: visible !important;
   
}


.text-fancy
{
    
    text-shadow: 0px 4px 0px #ff29298a;
}



.myAlert-top{
    position: fixed;
    top: 5px; 
    left:2%;
    width: 96%;
    z-index: 1000;
}

.myAlert-bottom{
    position: fixed;
    bottom: 5px;
    left:2%;
    width: 96%;
}

.alert{
    display: none;
}



.custom-dropup
{
    
    
    width: 17rem;
    font-size: 12px;
}

.calender-card-dropup
{
    
    padding: 5px;
    
}


.w100
{
    
    
    width: 100%;
}


.cursor-pointer{
  cursor: pointer;
}



.w-150
{
    
    
    width: 150px;
}


.w-pg-selector
{
    
    width: 92px;
}













