{% macro active(activePage='home') %}
<header class="nav-home" id="toper">
  <nav class="navbar navbar-expand-lg navbar-light bg-top-nav"> <a class="navbar-brand" href="#"><img src="assets/img/logo_ums.png" width="70"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {%if activePage == 'home' %} active {% endif %}"> <a class="nav-link" href="index.html"><i class="fas fa-home mr-1"></i> home <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item {%if activePage == 'settings' %} active {% endif %}"> <a class="nav-link" href="settings.html"><i class="fas fa-cogs mr-2"></i>settings <span class="badge badge-danger ">2</span></a> </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <li class="nav-item"> <a class="nav-link" href="#">DA</a> </li>
        <li class="nav-item active"> <a class="nav-link pl-0" href="404.html">EN</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"><img src="https://i.kinja-img.com/gawker-media/image/upload/gd8ljenaeahpn0wslmlz.jpg" class="image--cover" alt=""></a> </li>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">logout</button>
      </form>
    </div>
  </nav>
</header>
{% endmacro %} 




{% macro leftsidebar(activePage='home') %}
<div class="sidebar-menu sidebar-menu-closed" data-simplebar>
  <ul >
    <li class="menu-toggle cf">
      <div class="menu-toggle-btn"> <i class="fa fa-bars"></i> </div>
    </li>
    <li><span class="sidebar-icon "></span><span class="title">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button" id="button-addon2">search</button>
        </div>
      </div>
      </span></li>
    <li class="{%if activePage == 'home' %} active {% endif %}"><a href="index.html" ><span class="sidebar-icon"><i class="fas fa-tachometer-alt"   title="Dashboard"></i></span><span class="title text-capitalize">dashboard</span></a></li>
    <li class="  {%if activePage == 'timetable' %} active {% endif %}"><a href="timetable.html"><span class="sidebar-icon"><i class="far fa-clock"   title="timetable"></i></span><span class="title">timetable</span></a></li>
    <li class="{%if activePage == 'attend-reg' %} active {% endif %}"><a href="attendance_reg.html"><span class="sidebar-icon"><i class="fas fa-check-double"   title="attendance registration"></i></span><span class="title">attendance registration</span></a></li>
    <li class="{%if activePage == 'sick' %} active {% endif %}"> <a href="sick.html"><span class="sidebar-icon"><i class="far fa-frown"   title="register as sick"></i></span><span class="title">register as sick</span></a> </li>
    <li class="{%if activePage == 'password' %} active {% endif %}"><a href="password.html"><span class="sidebar-icon"><i class="fas fa-key"   title="change password"></i></span><span class="title">change password</span></a></li>
    <li class="{%if activePage == 'it-rule' %} active {% endif %}"><a href="it-rule.html"><span class="sidebar-icon"><i class="fas fa-chalkboard-teacher"   title="it rule"></i></span><span class="title">IT rule</span></a></li>
    <li class="{%if activePage == 'your-info' %} active {% endif %}"><a href="info.html"><span class="sidebar-icon"><i class="fas fa-info-circle"   title="your info"></i></span><span class="title">your info</span></a></li>
    <li class="{%if activePage == 'sms-sub' %} active {% endif %}"><a href="sms-sub.html"><span class="sidebar-icon"><i class="far fa-envelope"   title="sms subscription"></i></span><span class="title">sms subscription</span></a></li>
    <li class="{%if activePage == 'sms-alert' %} active {% endif %}"><a href="sms-alert.html"><span class="sidebar-icon"><i class="fas fa-exclamation-triangle"   title="sms alert"></i></span><span class="title">sms alert</span></a></li>
    <li class="{%if activePage == 'send-sms' %} active {% endif %}"><a href="send-sms.html"><span class="sidebar-icon"><i class="fas fa-share-square"   title="send sms"></i></span><span class="title">send sms</span></a></li>
    <li class="{%if activePage == 'sms-news' %} active {% endif %}"><a href="sms-news.html"><span class="sidebar-icon"><i class="fas fa-newspaper"   title="sms news"></i></span><span class="title">sms news</span></a></li>
    <li class="{%if activePage == 'app-news' %} active {% endif %}"><a href="app-news.html"><span class="sidebar-icon"><i class="fas fa-mobile-alt" title="app news"></i></span><span class="title">app news</span></a></li>
	<li class="{%if activePage == 'student-list' %} active {% endif %}"><a href="students.html"><span class="sidebar-icon"><i class="fas fa-user-graduate " title="student list"></i></span><span class="title">student list</span></a></li>
	<li class="{%if activePage == 'teacher-course' %} active {% endif %}"><a href="teacher-course.html"><span class="sidebar-icon"><i class="fas fa-chalkboard-teacher" title="teacher course"></i></span><span class="title">teacher course</span></a></li>  
	<li class="{%if activePage == 'school-info' %} active {% endif %}"><a href="school-info.html"><span class="sidebar-icon"><i class="fas fa-school" title="school info"></i></span><span class="title">school info</span></a></li>   
	<li class="{%if activePage == 'print' %} active {% endif %}"><a href="print.html"><span class="sidebar-icon"><i class="fas fa-print" title="print"></i></span><span class="title">print</span></a></li>
	<li class="{%if activePage == 'exam' %} active {% endif %}"><a href="exam.html"><span class="sidebar-icon"><i class="fas fa-file-alt" title="exam"></i></span><span class="title">exam</span></a></li>  
	<li class="{%if activePage == 'absense-stat' %} active {% endif %}"><a href="absense-stat.html"><span class="sidebar-icon"><i class="fas fa-chart-line" title="absense-stat"></i></span><span class="title">absense stats</span></a></li>    
	<li class="{%if activePage == 'take-pic' %} active {% endif %}"><a href="take-pic.html"><span class="sidebar-icon"><i class="fas fa-camera-retro" title="Take Picture"></i></span><span class="title">Take Picture</span></a></li>    
   
	  
	  
	  
  </ul>
</div>
{% endmacro %} 


{% macro rightsidebar(activePage='home') %}
<div id="mySidenav" class="right-sidenav"> <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> <a href="#">Block</a> <a href="#">Register fravaer</a> <a href="#">Send sms</a> <a href="#">Print</a> </div>
{% endmacro %} 